<div class="p-grid">
    <div class="p-col-12">
        
        <div class="card">
            <div class="p-text-center">
                <h3>Facturas del proveedor/moneda</h3>
            </div>     
            <p-table #dt [value]="listaBalalceFacturaMoneda" responsiveLayout="scroll"  [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['twFacturasProveedor.sFolioFactura','twFacturasProveedor.tcProveedore.sRfc','twFacturasProveedor.tcProveedore.sRazonSocial','twFacturasProveedor.dFechaInicioFactura','twFacturasProveedor.dFechaTerminoFactura','twFacturasProveedor.tcMoneda.sMoneda','twFacturasProveedor.nMontoFactura','venta.totalAbonos','venta.estatusFactura']"
                [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} ventas"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar Venta" />
                        </span>
                        <!--

                        <span class="p-input-icon-right">
                            <div _ngcontent-iho-c213="" class="p-col-12 p-mb-12 p-lg-12 p-mb-lg-0">
                                <button pButton pRipple type="button" label="Ventas por entregar" class="p-button-success" (click)="consultaVentas()"></button>
                            </div> 
                        </span>
                        -->

                       
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                    
                        <th pSortableColumn="twFacturasProveedor.sFolioFactura">Folio Factura<p-sortIcon field="twFacturasProveedor.sFolioFactura"></p-sortIcon>
                        </th>
                        <th pSortableColumn="twFacturasProveedor.tcProveedore.sRfc">RFC<p-sortIcon
                                field="twFacturasProveedor.tcProveedore.sRfc"></p-sortIcon>
                        </th>
                        <th pSortableColumn="twFacturasProveedor.tcProveedore.sRazonSocial">Razón social<p-sortIcon field="twFacturasProveedor.tcProveedore.sRazonSocial"></p-sortIcon>
                        </th>
                        <th pSortableColumn="twFacturasProveedor.dFechaInicioFactura">Fecha inicio factura<p-sortIcon field="twFacturasProveedor.dFechaInicioFactura"></p-sortIcon>
                        </th>
                        <th pSortableColumn="twFacturasProveedor.dFechaTerminoFactura">Fecha termino factura<p-sortIcon field="twFacturasProveedor.dFechaInicioFactura"></p-sortIcon>
                        </th>
                        <th pSortableColumn="twFacturasProveedor.tcMoneda.sMoneda">Moneda<p-sortIcon field="twFacturasProveedor.tcMoneda.sMoneda"></p-sortIcon>
                        </th>

                        <th pSortableColumn="twFacturasProveedor.nMontoFactura">Monto factura<p-sortIcon field="twFacturasProveedor.nMontoFactura"></p-sortIcon>
                        </th>
                        <th pSortableColumn="venta.totalAbonos">Total abonos<p-sortIcon
                                field="venta.totalAbonos"></p-sortIcon>

                        <th pSortableColumn="tcTipoVenta.sDescripcion">Saldo final
                                   
                        </th>
                        <th pSortableColumn="venta.estatusFactura">Estatus factura<p-sortIcon
                                field="venta.estatusFactura"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venta let-expanded="expanded">
                    <tr>
                       
                        <td><span class="p-column-title">Rfc</span><p-tag  severity="warning" *ngIf="venta.twFacturasProveedor.nEspecial==true"> {{venta.twFacturasProveedor.sFolioFactura}}</p-tag> <div *ngIf="venta.twFacturasProveedor.nEspecial==false">{{venta.twFacturasProveedor.sFolioFactura}}</div>
                        </td>
                        <td><span class="p-column-title">RFC</span> {{venta.twFacturasProveedor.tcProveedore.sRfc}}
                        </td>
                        <td><span class="p-column-title">Razón social</span>{{venta.twFacturasProveedor.tcProveedore.sRazonSocial}}
                        </td>
                        <td><span class="p-column-title">Fecha Inico Factura</span>{{venta.twFacturasProveedor.dFechaInicioFactura | date}}
                        </td>
                        <td><span class="p-column-title">Fecha Termino Factura</span>{{venta.twFacturasProveedor.dFechaTerminoFactura | date}}
                        </td>
                        <td><span class="p-column-title">Moneda</span>
                            {{venta.twFacturasProveedor.tcMoneda.sMoneda }}
                        </td>
                        <td><span class="p-column-title">Monto Factura</span>
                            {{venta.twFacturasProveedor.nMontoFactura | number}}
                        </td>
                        <td><span class="p-column-title">Total abonos</span>
                            {{venta.totalAbonos | number}}
                        </td>
                        <td><span class="p-column-title">Saldo Final</span>
                            <p-tag styleClass="p-mr-2" severity="info">{{(venta.twFacturasProveedor.nMontoFactura-venta.totalAbonos) | number}}</p-tag>
                        </td>
                        <td class="p-text-center"><span class="p-column-title">Estatus General</span>
							<div *ngIf="venta.estatusFactura=='PAGO VENCIDO'">
							<p-tag styleClass="p-mr-2" severity="danger">PAGO VENCIDO</p-tag>
						  </div>
						  <div *ngIf="venta.estatusFactura=='POR PAGAR'">
							<p-tag styleClass="p-mr-2" severity="success">POR PAGAR</p-tag>
						  </div>
						</td>


                        <td>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success p-button-outlined p-mr-2"
                                (click)="crearformulario(venta)"></button>
                           
                            
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <!--
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" label="Exportar consulta"
                        class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
            -->

            <div class="p-grid p-jc-end">
                <div class="p-col-8">
                    <div class="box"></div>
                </div>
                <div class="p-col-2">
                    <div class="box">
                        <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="cerrarDetalle()"></button>
                    </div>
                </div>
               
            </div>


            <!--FORMULARIO DE REGISTRO DE ABONOS A FACTURAS DEL PROVEEDOR-->
            
        <p-dialog [(visible)]="banAbonoFacturaProveedor"  header="Abono factura del proveedor"
        [style]="{width: '80vw', height: '100vh'}"
        header="Facturas Activas" [modal]="true" styleClass="p-fluid" [closable]="true"  [autoZIndex]="true" [maximizable]="true">        
            <ng-template pTemplate="content">
               <div class="p-grid">
                <div class="p-col-4">
                    <p-panel header="Balance de la factura"  >
                        <div>Total Factura: $ {{totalFactura | number}} </div>

                        <div>Total abonos: $ {{totalAbonos | number}} </div>

                        <div><strong>Saldo final: $ {{saldoFinal }} </strong> </div>                     

                    </p-panel> 
                    <p-panel header="Registro de Pago"  >

                <form [formGroup]="formulario">
                
                
                    <label for="marca">Forma de pago</label>
                    <p-dropdown [options]="listaFormaPago" formControlName="idFormaPago" optionLabel="sDescripcion" optionValue="nId"
                        [class.is-invalid]="validaFormaPago" placeholder="Seleccine una forma de pago" [showClear]="true"></p-dropdown>
                    <small class="p-error" *ngIf="validaFormaPago">Se requiere una forma de pago.</small>   
                
                    <label for="cuenta">Cuenta Bancaria</label>
                    <p-dropdown [options]="listaCuentasBancarias" formControlName="idCuentaBancaria" optionLabel="displayLabel" optionValue="nId"
                        [class.is-invalid]="validaCuentaBancaria" placeholder="Seleccine cuenta bancaria" [showClear]="true"></p-dropdown>
                    <small class="p-error" *ngIf="validaCuentaBancaria">Se requiere una forma de pago.</small>   
                
                
                
                    <div class="p-field">
                        <label for="name">Abono</label>
                        <p-inputNumber id="nMonto" formControlName="nMonto" id="nMonto" mode="currency" currency="USD" locale="en-US"
                            [class.is-invalid]="nMonto"></p-inputNumber>
                
                        <small *ngIf="validasMonto" class="p-error">Monto no valido.</small>
                    </div>
                
                    <label for="sNota">Nota</label>
                    <textarea id="sNota" formControlName="sNota" [autoResize]="true"  [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
                        [class.is-invalid]="validaNota" placeholder="Escribe una nota aquí"></textarea>
                    <small class="p-error" *ngIf="validaNota">Se requiere una nota.</small>

                </form>
                <button pButton pRipple label="Agregar Abono"  class="p-button-success" (click)="guardar()"></button>
            </p-panel>
               </div>
               <div class="p-col-8">
                <p-panel header="Lista de pagos realizados"  >

                    <p-table *ngIf="banTablaAbonos"  #dt [value]="listaAbonos" responsiveLayout="scroll"  [rows]="5"
                    [paginator]="true"
                    [globalFilterFields]="['dFechaAbono','nMontoAbono']"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Buscar abono" />
                            </span>
                            <!--
    
                            <span class="p-input-icon-right">
                                <div _ngcontent-iho-c213="" class="p-col-12 p-mb-12 p-lg-12 p-mb-lg-0">
                                    <button pButton pRipple type="button" label="Ventas por entregar" class="p-button-success" (click)="consultaVentas()"></button>
                                </div> 
                            </span>
                            -->
    
                           
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                        
                            <th pSortableColumn="dFechaAbono" class="text-center">Fecha del abono<p-sortIcon field="dFechaAbono"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nMontoAbono" class="text-center">Monto del abono<p-sortIcon
                                    field="nMontoAbono"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nCuentaBancaria" class="text-center">Cuenta bancaria<p-sortIcon
                                field="nCuentaBancaria"></p-sortIcon>
                            </th>
                            <th class="text-center">Nota
                        </th>
                          
                       
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-abono let-expanded="expanded">
                        <tr>
                           
                            <td class="text-center"><span class="p-column-title">Fecha del abono</span> {{abono.dFechaAbono | date}}
                            </td>
                            <td class="text-center"><span class="p-column-title">Monto del abono</span> {{abono.nMontoAbono | number}}
                            </td>
                            <td class="text-center"><span class="p-column-title">Banco</span> {{abono.tcCuentaBancaria.sBanco+'-'+abono.tcCuentaBancaria.sTerminacion}}
                            </td>
                            <td class="text-center"><span class="p-column-title">Nota</span> {{abono.sNota}}
                            </td>
                          
                            
                        </tr>
                    </ng-template>
                </p-table>
                </p-panel>

               </div>
            </div>
               
                    
            </ng-template>        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger "
                    (click)="hideDialog()"></button>
            </ng-template>
        
        
        </p-dialog>
        

 


        

        </div>


       
    </div>
</div>