<div class="p-grid">
    
    <div class="p-col-12">
        <div class="card">	
    <div class="p-text-center"><h3>Descuento a ventas no cobradas y crédito</h3></div>
        <p-toast></p-toast>   


        <p-table #dt [value]="listaVentasDetalleCliente" responsiveLayout="scroll" [columns]="cols" [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['nId','sFolioVenta','tcCliente.sRfc','tcCliente.sRazonSocial','nTotalVenta','dFechaVenta','sEstatus','nAvancePago','tcUsuario.sNombreusuario','tcEstatusVenta.sDescripcion']"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} ventas"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">

                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar Venta" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="sFolioVenta">No. Venta<p-sortIcon field="sFolioVenta"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tcCliente.sRfc">Rfc<p-sortIcon field="tcCliente.sRfc"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tcCliente.sRazonSocial">Razón Social<p-sortIcon field="tcCliente.sRazonSocial"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nTotalVenta">Total Venta<p-sortIcon field="nTotalVenta"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nTotalAbono">Total Abonos<p-sortIcon field="nTotalAbono"></p-sortIcon>
                    </th>
                    <th pSortableColumn="descuento">Descuento<p-sortIcon field="descuento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nSaldoTotal">Saldo Final<p-sortIcon field="nSaldoTotal"></p-sortIcon>
                    </th>
                    
                    <th pSortableColumn="dFechaVenta">Fecha Venta<p-sortIcon
                            field="dFechaVenta"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tcEstatusVenta.sDescripcion">Estatus Venta<p-sortIcon
                        field="tcEstatusVenta.sDescripcion"></p-sortIcon>
                </th>
                    <th pSortableColumn="tcUsuario.sNombreusuario">Vendedor<p-sortIcon field="tcUsuario.sNombreusuario"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-venta let-expanded="expanded">
                <tr>
                    <td><span class="p-column-title">No. Venta</span> {{venta.nId}}
                    </td>
                    <td><span class="p-column-title">Rfc</span> {{venta.tcCliente.sRfc}}
                    </td>
                    <td><span class="p-column-title">Razón Social</span> {{venta.tcCliente.sRazonSocial}}
                    </td>
                    <td><span class="p-column-title">Total Venta</span>{{venta.nTotalVenta | truncateDecimals2 | number}}
                    </td>
                    <td><span class="p-column-title">Total Abonos</span>{{venta.nTotalAbono | truncateDecimals2 | number}}
                    </td>
                    <td><span class="p-column-title">Descuento</span>{{venta.descuento | truncateDecimals2 | number}}
                    </td>
                    <td><span class="p-column-title">Saldo Final</span><p-tag styleClass="p-mr-2" severity="success">{{venta.nSaldoTotal  | truncateDecimals2 | number}}</p-tag>
                    </td>
                   
                    <td><span class="p-column-title">Fecha Venta</span> {{venta.dFechaVenta | date}}
                    </td>
                    <td class="p-text-center"><span class="p-column-title">Estatus Venta</span>
                       
                          {{venta.tcEstatusVenta.sDescripcion}}
                       
                    <td class="p-text-center"><span class="p-column-title">Vendedor</span>
                       
                            {{venta.tcUsuario.sNombreUsuario}}
                    </td>
                         
                      <td>
                        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success p-mr-2"
                            (click)="detalleVentaProductos(venta)"></button>
                        <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger"
                            (click)="generarVentaPdf(venta)"></button>
                            <button pButton pRipple icon="pi pi-credit-card" class="p-button-rounded p-button-help"
                            (click)="abrir(venta)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog [(visible)]="mostrarProductos" header="Productos de la Venta" [style]="{width: '900px'}" [closable]="false" styleClass="p-fluid">
                                
                        <p-table #dt [value]="listaProductosVenta" responsiveLayout="scroll" [rows]="10"
                                [paginator]="true"
                                [globalFilterFields]="['sNoParte','sProducto','sDescripcion','sMarca','nCantidad','nTotalUnitario','nTotalPartida']"
                                [(selection)]="selectedProducts2" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} Registros"
                                [showCurrentPageReport]="true">
                                <ng-template pTemplate="caption">
                                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Buscar producto vendido" />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="sNoParte">No. Parte<p-sortIcon field="sNoParte"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="sProducto">Producto<p-sortIcon field="sProducto"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="sDescripcion">Descripción<p-sortIcon field="sDescripcion"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="sMarca">Marca<p-sortIcon field="sMarca"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="sUnitario">Precio Unitario<p-sortIcon field="nUnitario"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="nTotalUnitario">Precio Unitario con iva<p-sortIcon field="nTotalUnitario"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="nCantidad">Cantidad<p-sortIcon field="nCantidad"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="nTotalPartida">Total Partida<p-sortIcon field="nTotalPartida"></p-sortIcon>
                                        </th>   
                                        <th>Ajusta precio
                                        </th>                                                                           
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-venta let-expanded="expanded">
                                    <tr>                                    
                                        <td><span class="p-column-title"></span> {{venta.sNoParte}}
                                        </td>
                                        <td><span class="p-column-title"></span> {{venta.sProducto}}
                                        </td>
                                        <td><span class="p-column-title"></span> {{venta.sDescripcion}}
                                        </td>
                                        <td><span class="p-column-title"></span>{{venta.sMarca}}
                                        </td>
                                        <td><span class="p-column-title"></span>{{venta.nUnitario | truncateDecimals2 | number}}
                                        </td>
                                        <td><span class="p-column-title"></span> {{venta.nTotalUnitario | truncateDecimals2 | number}}
                                        </td>                                    
                                        <td><span class="p-column-title"></span> {{venta.nCantidad }} 
                                        </td>
                                        <td><span class="p-column-title"></span> {{venta.nTotalPartida | truncateDecimals2 | number }}
                                         
                                        </td>  
                                      
                                        <td><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-danger p-mr-2"
                                            (click)="abrirAjustePrecio(venta)"></button>   </td>
                                                                       
                                                                            
                                    </tr>
                                </ng-template>
                             </p-table>
                            <ng-template pTemplate="footer">
                                <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="hideDialogAlter()"></button>
                            </ng-template>
        </p-dialog>
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="right">
                <button type="button" pButton pRipple icon="pi pi-file-excel" label="Exportar consulta"
                    class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
            </ng-template>
        </p-toolbar>

   
        <p-dialog [(visible)]="abrirformulario" [style]="{width: '800px'}" header="Registro de Descuentos" [modal]="true" styleClass="p-fluid">

            <form [formGroup]="formulario" autocomplete="off">
               
                <div class="p-grid">
                    <div class="p-field p-col-6">
                        <label for="name">Monto del Descuento</label>
                        <input type="text" pInputText name="descuento" formControlName="descuento"  [class.is-invalid]="validaDescuento" />
                        <small class="p-error" *ngIf="validaDescuento">*Se requiere un número.</small>
                    </div>                         
                  
                </div>
            </form>     
 
            <div class="p-grid p-jc-end">
                <div class="p-col-8">
                    <div class="box"></div>
                </div>
                <div class="p-col-2">
                    <div class="box">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cerrarModal()"></button>
                    </div>
                </div>
                <div class="p-col-2">
                    <div class="box">
                        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarDescuento()"></button>
                    </div>
                </div>
            </div>
        
        
                    
        </p-dialog>

        <p-dialog [(visible)]="mostrarSimulador" header="Modificación de precios de los productos" [style]="{width: '600px', height:'400px'}" [closable]="true" styleClass="p-fluid red "  >
              
            
            <div class="p-col-12">Nuevo Precio Unitario:<p-inputNumber [(ngModel)]="nuevoPrecioUnitario" mode="currency" currency="USD" locale="en-US"  [min]="1" (onBlur)="calcularNuevoPrecio()" > </p-inputNumber></div>
        
        <div role="group" class="p-selectbutton p-buttonset p-component">        
            <div role="button" pripple="" class="p-ripple p-element p-button p-component ng-star-inserted" aria-pressed="false" tabindex="0" aria-labelledby="Option 1" style="background: green;"><!----><span class="p-button-label ng-star-inserted">Precio Unitario: {{twVentasProducto.nPrecioUnitario}}</span><!----><!----><!----><span class="p-ink " style="height: 178px; width: 178px; top: -75.8px; left: 61.6px; "></span></div>
            <div role="button" pripple="" class="p-ripple p-element p-button p-component ng-star-inserted" aria-pressed="false" tabindex="0" aria-labelledby="Option 2" style="background: green;"><!----><span class="p-button-label ng-star-inserted">Iva Unitario: {{twVentasProducto.nIvaUnitario}}</span><!----><!----><!----><span class="p-ink" style="height: 219px; width: 219px; top: -100.75px; left: 2.89999px;"></span></div>
            <div role="button" pripple="" class="p-ripple p-element p-button p-component ng-star-inserted" aria-pressed="false" tabindex="0" aria-labelledby="Option 3" style="background: green;"><!----><span class="p-button-label ng-star-inserted">Total Unitario: {{twVentasProducto.nTotalUnitario}}</span><!----><!----><!----><span class="p-ink"></span></div><!---->
        </div>
        <div role="group" class="p-selectbutton p-buttonset p-component">
            <div role="button" pripple="" class="p-ripple p-element p-button p-component ng-star-inserted" aria-pressed="false" tabindex="0" aria-labelledby="Option 1" style="background: purple;"><!----><span class="p-button-label ng-star-inserted">Cantidad: {{twVentasProducto.nCantidad}}</span><!----><!----><!----><span class="p-ink " style="height: 178px; width: 178px; top: -75.8px; left: 61.6px; "></span></div>
        </div>                 
     
        <div role="group" class="p-selectbutton p-buttonset p-component">        
            <div role="button" pripple="" class="p-ripple p-element p-button p-component ng-star-inserted" aria-pressed="false" tabindex="0" aria-labelledby="Option 1" style="background: green;"><!----><span class="p-button-label ng-star-inserted">Precio Partida: {{twVentasProducto.nPrecioPartida}}</span><!----><!----><!----><span class="p-ink " style="height: 178px; width: 178px; top: -75.8px; left: 61.6px; "></span></div>
            <div role="button" pripple="" class="p-ripple p-element p-button p-component ng-star-inserted" aria-pressed="false" tabindex="0" aria-labelledby="Option 2" style="background: green;"><!----><span class="p-button-label ng-star-inserted">Iva Partida: {{twVentasProducto.nIvaPartida}}</span><!----><!----><!----><span class="p-ink" style="height: 219px; width: 219px; top: -100.75px; left: 2.89999px;"></span></div>
            <div role="button" pripple="" class="p-ripple p-element p-button p-component ng-star-inserted" aria-pressed="false" tabindex="0" aria-labelledby="Option 3" style="background: red;"><!----><span class="p-button-label ng-star-inserted">Total Partida: {{twVentasProducto.nTotalPartida}}</span><!----><!----><!----><span class="p-ink"></span></div><!---->
        </div>   

             <ng-template pTemplate="footer">
                <button  pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="cerrarDialogCancela()"></button>
                <button *ngIf="banGuardar" pButton pRipple label="Guardar" icon="pi pi-save" class=" p-button-success" (click)="guardarNuevoPrecio()"></button>
            </ng-template>

        </p-dialog>




    </div>
</div>
</div>
   

