<div class="p-grid p-fluid">
    <div class="p-col-12 p-xl-12 p-md-12">
        <label for="name">No. de parte</label>
        <input type="text" pInputText name="sNoParte" [(ngModel)]="sNoParte" (input)="teclaPresionada()" class="input-field" />
        
        <div class="listbox-container">
            <p-listbox *ngIf="mostrarSugerencias" [options]="listaNoParte" [(ngModel)]="nId" optionLabel="sNoParte" (onClick)="valorSeleccionado()" optionValue="nId" [listStyle]="{'max-height':'250px'}" class="p-overlay-panel p-component">
                <ng-template let-producto pTemplate="item">
                    <div class="p-listbox-item">
                        <div><strong>{{producto.sNoParte}}</strong> / <strong style="color: brown;">{{producto.sMarca}} </strong> / <strong style="color:blue;"> {{producto.sProducto}} </strong>/ {{producto.sDescripcion}}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </div>
    </div>
</div>

