<form [formGroup]="formulario" autocomplete="off">
    <input type="text" pInputText formControlName="nId" hidden />
    <input type="text" pInputText formControlName="nIdusuario" hidden />
    <input type="text" pInputText formControlName="nEstatus" hidden />
    <input type="text" pInputText formControlName="dFecha" hidden />
    <div class="p-grid">
        <div class="p-field p-col-6">
            <label for="name">No. de parte</label>
            <input type="text" pInputText name="sNoParte" formControlName="sNoParte" (input)="teclaPresionada()" [class.is-invalid]="validaNoParte" oninput="this.value = this.value.toUpperCase()"  />
            <p-listbox *ngIf="mostrarSugerencias" [options]="listaNoParte" formControlName="sNoParte" optionLabel="sNoParte" (onClick)="valorSeleccionado()" optionValue="sNoParte"></p-listbox>
            <small class="p-error" *ngIf="validaNoParte">*Número de Parte requerido.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="name">Nombre del producto</label>
            <input type="text" pInputText name="sProducto" formControlName="sProducto" [class.is-invalid]="validaProducto" oninput="this.value = this.value.toUpperCase()"  />
            <small class="p-error" *ngIf="validaProducto">*nombre del producto requerido.</small>
        </div>
        <div class="p-field p-col-12">
            <label for="description">Descripcion</label>
            <textarea id="description" pInputTextarea name="sDescripcion" formControlName="sDescripcion" rows="2" cols="20" oninput="this.value = this.value.toUpperCase()" ></textarea>
        </div>
        <div class="p-field p-col-6">
            <label for="marca">Código</label>
            <input type="text" pInputText name="sIdBar" formControlName="sIdBar" [class.is-invalid]="validaBar" disabled />
            <small class="p-error" *ngIf="validaBar">*código del producto requerida.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="marca">Marca</label>
            <input type="text" pInputText name="sMarca" formControlName="sMarca" [class.is-invalid]="validaMarca"  disabled/>
            <small class="p-error" *ngIf="validaMarca">*marca del producto requerida.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="marca">Marca</label>
            <p-dropdown [options]="listaMarca" formControlName="nIdMarca" optionLabel="sMarca" optionValue="nId"  [class.is-invalid]="validanIdMarca" placeholder="Seleccine una marca"
                [showClear]="true"  (onChange)="asignarMarca()" ></p-dropdown>
            <small class="p-error" *ngIf="validanIdMarca">*Categoria General requerida.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="marca">Categoria General</label>
            <p-dropdown [options]="listaCategoriaGeneral" formControlName="nIdCategoriaGeneral" optionLabel="sCategoriaGeneral" optionValue="nId" (onChange)="obtenerCategoria()" [class.is-invalid]="validaCategoriaGeneral" placeholder="Seleccine una categoria general"
                [showClear]="true"></p-dropdown>
            <small class="p-error" *ngIf="validaCategoriaGeneral">*Categoria General requerida.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="marca">Categoria </label>
            <p-dropdown [options]="listaCategoria" formControlName="nIdCategoria" optionLabel="sDescripcion" optionValue="nId" [class.is-invalid]="validaCategoria" placeholder="Seleccine una categoria " [showClear]="true"></p-dropdown>
            <small class="p-error" *ngIf="validaCategoria">*Categoria requerida.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="price">clave SAT</label>
            <p-dropdown [options]="listaClaveSat" formControlName="nIdclavesat" [class.is-invalid]="validaClaveSat" optionLabel="sDescripcion" optionValue="nId" placeholder="Seleccine una clave sat " [showClear]="true"></p-dropdown>
            <small class="p-error" *ngIf="validaClaveSat">*Clave Sat requerida.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="moneda">Moneda</label>
            <p-dropdown [options]="listaMoneda" formControlName="sMoneda" placeholder="Seleccine una moneda" (onChange)="calculaPrecioFinal()" optionLabel="name" optionValue="code" [class.is-invalid]="validaMoneda" [showClear]="true"></p-dropdown>
            <small class="p-error" *ngIf="validaMoneda">*Moneda requerida.</small>
        </div>
        <div class="p-field p-col-6">
            <label for="price">Precio</label>
            <p-inputNumber mode="currency" currency="USD" locale="en-US" name="nPrecio" (onBlur)="calculaPrecioFinal()" formControlName="nPrecio" [class.is-invalid]="validaPrecio"></p-inputNumber>
            <small class="p-error" *ngIf="validaPrecio">*Precio Requerido</small>
        </div>
        <div class="p-field p-col-6">
            <label for="ganancia">Ganancia</label>
            <p-dropdown [options]="listaGanancia" formControlName="nIdGanancia" optionLabel="nGanancia" (onChange)="calculaPrecioFinal()" optionValue="nId" [class.is-invalid]="validaGanancia" placeholder="Seleccine una Ganancia" [showClear]="true">
                <ng-template let-ganancia pTemplate="item">
                    {{ganancia.nGanancia | percent}}
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="validaGanancia">*Ganancia requerida</small>
        </div>

        <div class="p-field p-col-6">
            <label for="ganancia">Descuento</label>
            <p-dropdown [options]="listaGanancia" formControlName="nIdDescuento" optionLabel="nId"  optionValue="nId" [class.is-invalid]="validaDescuento" placeholder="Seleccine un Descuento" >
                <ng-template let-ganancia2 pTemplate="item">
                    {{ganancia2.nId}}%
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="validaDescuento">*Descuento requerida</small>
        </div>
       
        <div class="p-field p-col-12 p-text-center">
            <label for="price">Precio Final</label>
            <br>
            <strong>{{precioFinal | currency}}</strong>

        </div>
    </div>
</form>
<div class="p-grid p-jc-end">
    <div class="p-col-8">
        <div class="box"></div>
    </div>
    <div class="p-col-2">
        <div class="box">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cerrarModal()"></button>
        </div>
    </div>
    <div class="p-col-2">
        <div class="box">
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
        </div>
    </div>
</div>




<!--   <pre>
  estado del formulario: {{formulario.valid}}
  <br>
  status: {{formulario.status}}
</pre>
    <pre>
  {{formulario.value | json}}
</pre>
-->