<div class="p-grid">
    <div class="p-col-12">

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo usuario" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>

                </ng-template>

               
            </p-toolbar>

            <p-table #dt [value]="listaUsuarios" [rows]="10" [paginator]="true" [globalFilterFields]="['sNombreusuario','sUsuario']" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers" currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Administración de usuarios</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar usuario" />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="name">Nombre Completo
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <!--<th>Image</th>-->
                        <th pSortableColumn="price">Perfil
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Usuario
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="rating">Contraseña
                            <p-sortIcon field="rating"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">Estatus
                            <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>{{usuario.sNombreusuario}}</td>
                        <td>{{usuario.nPerfil}}</td>
                        <td>{{usuario.sUsuario}}</td>
                        <td>{{usuario.sPassword}}</td>
                        <td>{{usuario.nEstatus === 1 ? 'Activo': 'Inactivo'}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editUsuario(usuario)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUsuario(usuario)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{listaUsuarios ? listaUsuarios.length : 0 }} usuarios.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="usuarioDialog" [style]="{width: '600px'}" header="Datos del Usuario" [modal]="true" styleClass="p-fluid">

            <ng-template pTemplate="content">
                <form [formGroup]="formulario">
                    <input type="text" pInputText formControlName="nId" hidden />
                    <input type="text" pInputText formControlName="nPerfil" hidden />
                    <input type="text" pInputText formControlName="nEstatus" hidden />
                    <input type="text" pInputText formControlName="sClaveuser" hidden />
                    <div class="p-field">
                        <label for="name">Nombre del usuario</label>
                        <input type="text" pInputText name="sNombreUsuario" formControlName="sNombreusuario" [class.is-invalid]="validaNomUsu" />
                        <small class="p-error" *ngIf="validaNomUsu">*nombre de usuario requerido</small>
                    </div>

                    <div class="p-field">
                        <label for="quantity">Usuario</label>
                        <input name="sUsuario" pInputText formControlName="sUsuario" [class.is-invalid]="validaUsuario" placeholder="" />
                        <small class="p-error" *ngIf="validaUsuario">*usuario requerido</small>
                    </div>

                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="price">Password</label>
                            <input type="password" name="sPassword" formControlName="sPassword" [class.is-invalid]="validaPassword" placeholder="Escribe contraseña" pPassword [feedback]="false" />
                            <small class="p-error" *ngIf="validaPassword">*password requerido</small>
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarUsuario()"></button>
            </ng-template>

        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>