<div class="p-grid">
    <div class="p-col-12">      
        <p-toolbar styleClass="p-mb-4">
        <div class="p-col-12 text-center"><h3>Administración de Usuarios</h3></div>
        </p-toolbar>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo usuario" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>

                </ng-template>


            </p-toolbar>

            <p-table #dt [value]="listaUsuarios" [rows]="25" [paginator]="false"
             [globalFilterFields]="['sNombreusuario','sUsuario', 'sClaveUser','nEstatus']" 
            [rowHover]="true" dataKey="id" styleClass="p-datatable-customers" 
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-end table-header">
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar usuario" />
                      </span>
                    </div>
                  </ng-template>
                
                
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo usuario" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>

                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="sNombreusuario">Nombre Completo
                            <p-sortIcon field="sNombreusuario"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sClaveUser">clave de identificación
                            <p-sortIcon field="sClaveUser"></p-sortIcon>
                        </th>
                        <!--<th>Image</th>-->
                        <th pSortableColumn="sUsuario">Usuario
                            <p-sortIcon field="sUsuario"></p-sortIcon>
                           
                        </th>
                        <th pSortableColumn="nEstatus">Estatus
                            <p-sortIcon field="nEstatus"></p-sortIcon>
                           
                        </th>
                        <th class="">Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td><span class="p-column-title">Nombre</span>{{usuario.sNombreUsuario}}</td>
                        <td><span class="p-column-title">Clave</span>{{usuario.sClaveUser}}</td>
                        <td><span class="p-column-title">Nombre Usuario</span>{{usuario.sUsuario}}</td>
                        <td><span class="p-column-title">Estatus</span>{{usuario.nEstatus === 1 ? 'Activo': 'Inactivo'}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" (click)="editUsuario(usuario)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteUsuario(usuario)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{listaUsuarios ? listaUsuarios.length : 0 }} usuarios.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="usuarioDialog" [style]="{width: '600px'}" header="Datos del Usuario" [modal]="true" styleClass="p-fluid">

            <ng-template pTemplate="content">
                <form [formGroup]="formulario">
                    <input type="text" pInputText formControlName="nId" hidden />
                    <input type="text" pInputText formControlName="nEstatus" hidden />
                    <input type="text" pInputText formControlName="sClaveUser" hidden />
                    <div class="p-field">
                        <label for="name">Nombre del usuario</label>
                        <input type="text" pInputText name="sNombreUsuario" formControlName="sNombreUsuario" [class.is-invalid]="validaNomUsu" />
                        <small class="p-error" *ngIf="validaNomUsu">*nombre de usuario requerido</small>
                    </div>

                    <div class="p-field">
                        <label for="quantity">Usuario</label>
                        <input name="sUsuario" pInputText formControlName="sUsuario" [class.is-invalid]="validaUsuario" placeholder="" />
                        <small class="p-error" *ngIf="validaUsuario">*usuario requerido</small>
                    </div>

                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col">
                            <label for="price">Password</label>
                            <input type="password" name="sPassword" formControlName="sPassword" [class.is-invalid]="validaPassword" placeholder="Escribe contraseña" pPassword [feedback]="false" />
                            <small class="p-error" *ngIf="validaPassword">*password requerido</small>
                        </div>
                    </div>
                    <div class="p-formgrid p-grid">
                        <div class="p-field p-col-6">
                            <label for="price">Rol</label>
                            <p-listbox [options]="roles" formControlName="roles" optionValue="code" (click)="verificaDistribuidor()" [class.is-invalid]="validaRol" [metaKeySelection]="false" [checkbox]="false" [filter]="false" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}"
                                [style]="{'width':'15rem'}">
                                <ng-template let-rol pTemplate="item">
                                    <div class="country-item">
                                        <div>{{rol.name}}</div>
                                    </div>
                                </ng-template>
                            </p-listbox>

                            <small class="p-error" *ngIf="validaRol">*Rol requerido</small>
                        </div>
                        <div class="p-field p-col-6" *ngIf="muestraInput">
                            <label for="name">RFC del cliente</label>
                            <input type="text" pInputText name="rfcDistribuidor" formControlName="rfcDistribuidor" [class.is-invalid]="validaRfcDistribuidor" required />
                            <small class="p-error" *ngIf="validaRfcDistribuidor">*rfc del cliente requerido</small>
                        </div>

                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button *ngIf="guarda" pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="!formulario.valid" (click)="guardarUsuario()"></button>
                <button *ngIf="!guarda" pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text" [disabled]="!formulario.valid" (click)="actualizarUsuario()"></button>

            </ng-template>

        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>