<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo cliente" icon="pi pi-plus"
                        class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>

                </ng-template>


            </p-toolbar>
            <p-table #dt [value]="listaClientes" [rows]="10" [paginator]="true"
                [globalFilterFields]="['sRfc','sRazonSocial','tcCp.sCp','tcRegimenFiscal.sDescripcion','n_limiteCredito']" 
                [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Administración de clientes</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar Cliente" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                        </th>
                        <th pSortableColumn="sRfc">RFC 
                              <p-sortIcon field="sRfc"></p-sortIcon>    </th>
                                         
                        <th pSortableColumn="sRazonSocial">Razón social
                            <p-sortIcon field="sRazonSocial"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sDireccion">Dirección
                           
                        </th>
                        <th pSortableColumn="sCorreo">Correo
                           
                        </th>
                        <th pSortableColumn="sTelefono">Telénono
                          
                        </th>
                        <th pSortableColumn="nCp">CP
                            <p-sortIcon field="nCp"></p-sortIcon>
                          
                        </th>
                        <th pSortableColumn="tcRegimenFiscal.sDescripcion">Regimen Fiscal
                            <p-sortIcon field="tcRegimenFiscal.sDescripcion"></p-sortIcon>
                          
                        </th>
                        <th pSortableColumn="n_limiteCredito">Límite crédito
                            <p-sortIcon field="n_limiteCredito"></p-sortIcon>
                          
                        </th>
                        <th pSortableColumn="nDescuento">Descuento
                            <p-sortIcon field="nDescuento"></p-sortIcon>
                          
                        </th>
                        <th pSortableColumn="nDatosValidados">Estatus Validación
                            <p-sortIcon field="nDatosValidados"></p-sortIcon>
                          
                        </th>
                       
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td>
                        </td>
                        <td><span class="p-column-title">RFC</span> {{cliente.sRfc}}
                        </td>
                        <td><span class="p-column-title">Razón Social</span> {{cliente.sRazonSocial}}
                        </td>
                        <td><span class="p-column-title">Dirección</span> {{cliente.sDireccion}}
                        </td>
                        <td><span class="p-column-title">Correo</span> {{cliente.sCorreo}}
                        </td>
                        <td><span class="p-column-title">Télefono</span> {{cliente.sTelefono}}
                        </td>
                        <td><span class="p-column-title">CP</span> {{cliente.tcCp.sCp}}
                        </td>
                        <td><span class="p-column-title">Regimen Fiscal</span>  {{cliente.tcRegimenFiscal!=null?cliente.tcRegimenFiscal.sDescripcion:''}}
                        </td>
                        <td><span class="p-column-title">Límite crédito</span>  {{cliente.n_limiteCredito}}
                        </td>
                        <td>
                            <p-checkbox [(ngModel)]="cliente.nDescuento" [binary]="true" inputId="cliente.nDescuento" (onChange)=guardarDescuento(cliente)></p-checkbox>
                        </td>

                        <td *ngIf="cliente.nDatosValidados==true" style="color: green;">Datos validados</td>
                        <td *ngIf="cliente.nDatosValidados==false" style="color: red;">Datos no validados</td>
                       
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                                (click)="editar(cliente)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                (click)="eliminar(cliente)"></button>
                            <button pButton pRipple icon="pi pi-credit-card" class="p-button-info p-button-help"
                                (click)="lineaCredito(cliente)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{listaClientes ? listaClientes.length : 0 }} clientes.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="credito" [style]="{width: '600px'}" header="Línea de crédito " [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Monto del crédito</label>
                    <p-inputNumber type="number" pInputText id="name" name="n_limiteCredito"
                        [(ngModel)]="cliente.n_limiteCredito"></p-inputNumber>
                    <small class="p-invalid" *ngIf="submitted && !product.name">Monto requerido.</small>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="guardarLineaCredito()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="clienteDialog" [style]="{width: '600px'}" header="Datos del cliente" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
        <app-form-cliente (cerrar)="hideDialog($event)" [objCliente]="objCliente" >   </app-form-cliente>
    </ng-template>
  

   
    </p-dialog>

        <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>
    </div>
</div>