


<p-confirmDialog></p-confirmDialog>

<div class="p-grid">
    <div class="p-col-4">
        <div class="p-grid p-dir-col">
            <div class="p-col">
                <div class="card" style="background-color: #EFEFEF;">
                    <p-panel header="Datos de la Venta">
                        <div>No. Parte: <strong>{{twFacturaProveedorProducto.tcProducto.sNoParte}}</strong></div>
                        <div>Producto: <strong>{{twFacturaProveedorProducto.tcProducto.sProducto}}</strong></div>
                        <div>Marca: <strong>{{twFacturaProveedorProducto.tcMarca.sMarca}}</strong></div>
                        <div>Total Producto Factura: <strong>{{twFacturaProveedorProducto.nCantidad}}</strong></div>
                        <div>Total Ingresado: <strong>{{totalIngresado}}</strong></div>
                        <div>Total por Ingresar: <strong>{{totalPendiente}}</strong></div>
                    </p-panel>
                </div>
            </div>
            <div class="p-col">
                <div class="card" style="background-color: #EFEFEF;">
                    <app-modal-productos-bodega [listaProductoBodega]="listaProductoBodega"></app-modal-productos-bodega>

                </div>
            </div>
            <div class="p-col">
                <div class="card" style="background-color: #EFEFEF;">
                    <p-panel header="Ventas por pedido">
                <p-table [value]="listaProductoPedido" responsiveLayout="scroll" scrollHeight="200px" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>           
                            <th><h6>Pedido</h6></th>
                            <th class="p-text-center"><h6>Venta</h6></th>
                            <th class="p-text-center"><h6>Pedidas</h6></th>
                            <th class="p-text-center"><h6>Recibidas</h6></th>
                            <th class="p-text-center"><h6>Pendientes</h6></th>



                          
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-venta>
                        <tr>
                            <td><span class="p-column-title"><h6>Pedido</h6></span><h6>{{venta.nIdPedido}}</h6></td>
                            <td class="p-text-center"><span class="p-column-title"><h6>Venta</h6></span><h6>{{venta.twPedido.nIdVenta}}</h6></td>
                            <td class="p-text-center"><span class="p-column-title"><h6>Pedidos</h6></span><h6>{{venta.nCantidadPedida}}</h6></td>
                            <td class="p-text-center"><span class="p-column-title"><h6>Pendientes</h6></span><h6>{{venta.nCantidaRecibida}}</h6></td>
                            <td class="p-text-center"><span class="p-column-title"><h6>Pendientes</h6></span><h6>{{venta.nCantidadPedida-venta.nCantidaRecibida}}</h6></td>

                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
            </div>
            </div>
        </div>
    </div>
    <div class="p-col-8">
        <div  class="card" style="background-color: #EFEFEF;"  *ngIf="totalPendiente>0">
           
            <form [formGroup]="formGrp" (ngSubmit)="onSubmit()" class="p-fluid p-pt-4">

                <div class="p-field p-grid">
                    <div class="p-col-6">
                        <label for="cantidad">Cantidad</label>
                        <p-inputNumber id="cantidad" formControlName="cantidad" [max]="totalPendiente" mode="decimal" minFractionDigits="0" maxFractionDigits="0" placeholder="Ingrese la cantidad"></p-inputNumber>
                        <div *ngIf="cantidad.invalid || (cantidad.dirty || cantidad.touched)">
                            <small class="p-error" *ngIf="cantidad.errors?.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <label for="marca">Bodega</label>
                        <p-dropdown id="bodega" [options]="listaBodegas" [filter]="true" formControlName="bodega" optionLabel="sBodega" optionValue="nId" placeholder="Seleccione una bodega" [showClear]="true" (onChange)="validaInventarioBodega()"></p-dropdown>
                        <div *ngIf="bodega.invalid || (bodega.dirty || bodega.touched)">
                            <small class="p-error" *ngIf="bodega.errors?.required">Campo obligatorio</small>
                        </div>
                    </div>
                </div>
                
                <div class="p-field p-grid">
                    <div class="p-col-6">
                        <label for="marca">Anaquel</label>
                        <p-dropdown id="anaquel" [options]="listaAnaquel" [filter]="true" formControlName="anaquel" optionLabel="sAnaquel" optionValue="nId" placeholder="Seleccione una Anaquel" [showClear]="true"></p-dropdown>
                        <div *ngIf="anaquel.invalid || (anaquel.dirty || anaquel.touched)">
                            <small class="p-error" *ngIf="anaquel.errors?.required">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="p-col-6">
                        <label for="marca">Nivel</label>
                        <p-dropdown id="nivel" [options]="listaNivel" [filter]="true" formControlName="nivel" optionLabel="sNivel" optionValue="nId" placeholder="Seleccione una nivel" [showClear]="true"></p-dropdown>
                        <div *ngIf="nivel.invalid || (nivel.dirty || nivel.touched)">
                            <small class="p-error" *ngIf="nivel.errors?.required">Campo obligatorio</small>
                        </div>
                    </div>
                </div>
          
                <div class="p-field p-grid">
                    <div class="p-col-12 p-d-flex p-jc-start">
                        <span class="p-input-icon-left">
                            <button pButton type="submit" label="Guardar" [disabled]="formGrp.invalid"></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>


        <div  class="card" style="background-color: #EFEFEF;">

            <p-table
            #dt
            [value]="listaIngresoProductoFactura"
            [rows]="4"            
            [paginator]="true"           
            [globalFilterFields]="[ 'nCantidad', 'sBodega', 'sAnaquel','sNivel', 'nCantidad', 'dFecha']"
            [rowHover]="true"
            dataKey="nId"
            styleClass="p-datatable-customers"
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
            [showCurrentPageReport]="true"
        > 
 
        <ng-template pTemplate="header">
          <tr>
                    <th pSortableColumn="nCantidad" class="text-center">Cantidad <p-sortIcon field="nCantidad"></p-sortIcon></th>
                    <th pSortableColumn="sBodega" class="text-center">Bodega <p-sortIcon field="sBodega"></p-sortIcon></th>
                    <th pSortableColumn="sAnaquel" class="text-center">Anaquel <p-sortIcon field="sAnaquel"></p-sortIcon></th>
                    <th pSortableColumn="sNivel" class="text-center">Nivel <p-sortIcon field="sNivel"></p-sortIcon></th>
                    <th pSortableColumn="dFecha" class="text-center">Fecha Ingreso <p-sortIcon field="dFecha"></p-sortIcon></th> 
                    <th pSortableColumn="sUsuario" class="text-center">Usuario <p-sortIcon field="sUsuario"></p-sortIcon></th>                                                 
          </tr>
        </ng-template>     
      
            <ng-template pTemplate="body" let-producto>
                <tr>
                    <td class="text-center"><span class="p-column-title">Cantidad</span>{{ producto.nCantidad }}</td>
                    <td class="text-center"><span class="p-column-title">Bodega</span>{{ producto.tcBodega.sBodega }}</td>
                     <td class="text-center"><span class="p-column-title">Anaquel</span>{{ producto.tcAnaquel.sAnaquel}}</td>
                    <td class="text-center"><span class="p-column-title">Nivel</span>{{ producto.tcNivel.sNivel}}</td>
                    <td class="text-center"><span class="p-column-title">Fecha Ingreso</span>{{ producto.dFechaIngreso | date:'yyyy-MM-dd HH:mm:ss' }}</td> 
                    <td class="text-center"><span class="p-column-title">Usuario</span>{{ producto.tcUsuario.sNombreUsuario}}</td>           
                </tr>
            </ng-template>
          
        </p-table>
            
        </div>
    </div>
</div>





