<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-12 p-md-12">
        <div class="card">
            
          
            <p-panel header="Datos del Producto">
               
            <div class="p-col-12 p-mb-4 p-lg-4 p-mb-lg-0">
             <input class="p-mr-2 p-d-inline p-inputtext p-component" type="text" pInputText placeholder="No.Parte del producto"> <button class="p-mr-2 p-d-inline p-inputtext p-component" pButton pRipple type="button" label="Buscar" class="p-button-success p-mr-2 p-mb-2"></button>
            </div>
                <div class="p-grid">
                    <div class="p-col-12">                       
                    
                    <div class="p-col-12 p-md-6 p-lg-2 p-d-inline"><strong> Parte:</strong> 12345678 </div>
                    <div class="p-col-12 p-md-6 p-lg-4 p-d-inline"><strong>Producto:</strong> Maquinaria Xddddd </div>
                    <div class="p-col-12 p-md-6 p-lg-2 p-d-inline"><strong>Marca</strong>CTP</div>
                    <div class="p-col-12 p-md-6 p-lg-2 p-d-inline"><strong>Precio:</strong> {{20000 | currency: '$'}}</div>
                    <div class="p-col-12 p-md-6 p-lg-2 p-d-inline"><strong>Stock:</strong> 10</div>
                 </div>

                </div>



            </p-panel>
            </div>
    </div>


    <div class="p-col-12 p-lg-6 p-md-6 ">
        <div class="p-grid p-dir-col p-nogutter">
            <div class="p-col-12 ">
                <div class="card widget-statistics">
                    <div class="p-text-center">
                        <h3>Ventas del Producto por mes </h3>
                    </div>
                    <div class="p-grid">
                        
                       
                    </div>
                    <p-chart id="dashboard-chart" type="line" [data]="lineData" [options]="lineOptions"></p-chart>
                </div>
            </div>

        </div>
    </div>

    <div class="p-col-12 p-lg-6 p-md-6">
        <div class="card widget-tasks">
            <div class="p-text-center">
                <h3>Historial de ventas del producto</h3>
            </div>
            
            <p-table [value]="products" responsiveLayout="scroll" scrollHeight="430px">
                <ng-template pTemplate="header">
                    <tr>
                        <th>RFC</th>
                        <th>Razón Social</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.code}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price | currency:'USD'  }}</td>
                        <td>{{product.quantity}}</td>
                    </tr>
                </ng-template>
            </p-table>



        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-md-6">
        <div class="card">
            <div class="p-text-center">
                <h3>Historia de precios del Producto</h3>
            </div>

            <p-table [value]="products" responsiveLayout="scroll" scrollHeight="450px"
                styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No Parte</th>
                        <th>Nombre Parte</th>
                        <th>Moneda</th>
                        <th>Precio</th>
                        <th>Fecha Registro</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.code}}</td>
                        <td>{{product.name}}</td>
                        <td>PESO</td>
                        <td>{{product.price}}</td>
                        <td>10/10/2021</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>

    <div class="p-col-12 p-lg-6 p-md-6">
        <div class="card">

            <div class="p-text-center">
                <h3>Historia de precios del Producto</h3>
            </div>
            <div class="p-col-12 p-lg-12">


                <div class="card">

                    <div class=" p-justify-center">
                        <p-chart id="dashboard-chart" type="line" [data]="lineData" [options]="lineOptions">
                        </p-chart>
                    </div>
                </div>


            </div>

        </div>
    </div>
    
    <div class="p-col-12 p-lg-6 p-md-6">
        <div class="card">

            <div class="p-text-center">
                <h3>Historia de ingreso del Producto</h3>
            </div>
            <div class="p-col-12 p-lg-12">


                <div class="card">

                    <div class=" p-justify-center">
                        <p-chart id="dashboard-chart" type="line" [data]="lineData" [options]="lineOptions">
                        </p-chart>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="p-col-12 p-lg-6 p-md-6">
        <div class="card">
            <div class="p-text-center">
                <h3>Historia de ingreso del Producto</h3>
            </div>
            <p-table [value]="products" responsiveLayout="scroll" scrollHeight="450px"
                styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No Parte</th>
                        <th>Nombre Parte</th>
                        <th>Bodega</th>
                        <th>Ubicación</th>
                        <th>Total_ingreso</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.code}}</td>
                        <td>{{product.name}}</td>
                        <td>LOCAL</td>
                        <td>100 A</td>
                        <td>28</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>

    


</div>
