<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">

    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/layout/images/LOGO.png" alt="mirage-layout" />
                </div>
                <h1>Refacciones Fabela</h1>
                <p>Bienvenidos, favor de ingresar los datos del formulario</p>
                <div class="forms">
                    <div class="login-input-wrapper">
                        <label for="username">Usuario</label>
                        <input id="username" pInputText placeholder="Escriba su nombre de usuario..." />
                        <i class="pi pi-user"></i>
                    </div>

                    <div class="login-input-wrapper">
                        <label for="password">Constraseña</label>
                        <input type="password" id="password" placeholder="Escriba su contraseña" pPassword [feedback]="false"/>
                        <i class="pi pi-lock"></i>
                    </div>

                  


                    <div class="buttons">
                        <button pButton type="button" [routerLink]="['/inicio/tablero']" label="Acceso"></button>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="desert"></div>
    </div>
</div>
