<div class="p-grid">
    <div class="p-col-12">

        <div class="card">
            <div class="p-text-center">
                <h2>Comprobantes Cargados</h2>
            </div>
            <p-table #dt [value]="listaComprobantesInternet" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers" currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="
              p-d-flex p-flex-column p-flex-md-row p-jc-md-between
              table-header
            ">
                        <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar en toda la tabla"
              />
            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="p-text-center">
                        <th pSortableColumn="cliente">
                            Cliente
                        </th>
                        <th pSortableColumn="sFolioCotizacion">
                            Folio Cotización
                        </th>
                        <th pSortableColumn="dFecha">
                            Fecha
                        </th>
                        <th pSortableColumn="nTotalCotizacion">
                            Total Cotización
                        </th>
                        <th>Estatus</th>
                        <th>Acción</th>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pago>
                    <tr>
                        <td>
                            {{pago.twCotizacionesDetalle.tcCliente.sRazonSocial}}
                        </td>
                        <td>{{pago.twCotizacionesDetalle.sFolioCotizacion}}</td>
                        <td>
                            {{pago.twCotizacionesDetalle.dFecha | date }}
                        </td>

                        <td>
                            {{ pago.twCotizacionesDetalle.nTotalCotizacion | number }}
                        </td>
                        <td *ngIf="pago.nStatus == 0">
                            <i class="pi pi-times" style="color: orange;"> Rechazado</i>
                        </td>
                        <td *ngIf="pago.nStatus == 1">
                            <i class="pi pi-times" style="color: red;"> Sin validar</i>
                        </td>
                        <td *ngIf="pago.nStatus == 2">
                            <i class="pi pi-check" style="color: green;"> validado</i>
                        </td>
                        <td>
                            <button type="button" (click)="show(pago)" pButton icon="pi pi-info-circle" label="Ver"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{ listaCotizaciones ? listaCotizaciones.length : 0 }} Registros.
                    </div>
                </ng-template>
            </p-table>
        </div>

    </div>

</div>