.fondo-content{

    background: #efefef;
    border: 4px white solid;
    border-radius: 10px;
    min-height: 300px;

}
.fondo-content2{

    background: #a588a3;
    border: 4px white solid;
    border-radius: 10px;
    min-height: 300px;

}