<div class="p-grid p-fluid">
   
    <div class="p-col-12 p-text-center fondo">
        <h3>Cotizaciones y Ventas</h3>
    </div>
    <div class="p-col-12 p-xl-12 p-md-12">
        <form [formGroup]="formGrp" autocomplete="off">
            <div class="card">
                <div class="p-grid">
                    <div class="p-col-11">
                        <h6>Favor de Elegir un cliente </h6>
                        <input type="text" pInputText name="cliente" formControlName="clienteCtrl"
                            (input)="inputCliente()" />
                        <p-listbox *ngIf="mostrarSugerenciasCliente" [options]="listaCliente"
                            formControlName="clienteSeleccionadoCtrl" optionLabel="sRazonSocial"
                            (onClick)="valorSeleccionadoCliente()">
                            <ng-template let-cliente pTemplate="item">
                                <div>
                                    <div>{{cliente.sRfc}}-{{cliente.sRazonSocial}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                    <div class="p-col-1">
                        <button pButton pRipple type="button" icon="pi pi-user"
                            class="p-button-rounded p-button-info p-button-outlined" (click)="openNew()"></button>
                        <button pButton pRipple type="button" icon="pi pi-search"
                            class="p-button-rounded p-button-info p-button-outlined"
                            (click)="abrirCotizaciones()"></button>
                    </div>
                    <p-dialog [(visible)]="clienteDialog" [style]="{width: '80%'}" header="Datos del cliente"
                        [modal]="true" styleClass="p-fluid">
                        <app-form-cliente (cerrar)="hideDialog($event)" [objCliente]=null> </app-form-cliente>
                        <ng-template pTemplate="content">
                        </ng-template>
                    </p-dialog>
                    <p-accordion class="p-col-12" *ngIf="mostrarDetalleCliente">
                        <p-accordionTab header="Datos del cliente">
                            <div class="grid">
                                <div *ngIf="saldoGeneralCliente.tcCliente.nIdDatoFactura==1" class="col-12">
                                    <h6>Cliente de: Refacciones Fabela</h6>
                                </div>
                                <div *ngIf="saldoGeneralCliente.tcCliente.nIdDatoFactura==2" class="col-12">
                                    <h6>Cliente de: JEMKAL</h6>
                                </div>
                                <div class="p-col-12">
                                    <ng-template [ngIf]="mostrarDetalleCliente">
                                        <app-detalle-cliente [saldoGeneralCliente]="saldoGeneralCliente"></app-detalle-cliente>
                                    </ng-template>
                                    <div class="formgroup-inline flex justify-content-between col-12">
                                        <p-button icon="pi pi-search" (click)="obtenerMaquinasCliente()" label="Ver Maquinas del Cliente" styleClass="p-button-text"></p-button>
                                        <p-button icon="pi pi-plus" (click)="abrirFormularioMaquinaCliente()" label="Agregar Maquina" styleClass="p-button-text"></p-button>
                                    </div>
                                </div>
                                
                              
                            </div>
                        </p-accordionTab>
                    </p-accordion>
             
                    
                </div>

                <div class="p-grid " *ngIf="muestraProductos">
                    <!--Busqueda de producto-->
                    <div class="p-col-12 p-lg-9 p-md-9">
                        <div class="p-grid p-dir-col fondo-content">
                            <div class="p-col-12  ">
                                <p-table [value]="productosFiltrados" [rows]="10" responsiveLayout="scroll"
                                    currentPageReportTemplate="mostrar {first} a {last} de {totalRecords} productos"
                                    [showCurrentPageReport]="true">
                                    <ng-template pTemplate="caption">
                                        <div class="p-grid p-ai-start vertical-container">
                                            <div class="p-col-12">
                                                <label for="name">Producto</label>
                                                <input type="text" pInputText name="producto"
                                                    formControlName="productoCtrl" (input)="inputProducto()" />
                                                <div style="position: relative;">
                                                    <p-listbox *ngIf="mostrarSugerenciasProducto"
                                                        [options]="listaProductoSugerencia"
                                                        formControlName="productoSelecionadoCtrl" optionLabel="sNoParte"
                                                        (onClick)="valorSeleccionadoProducto()"
                                                        [listStyle]="{'max-height':'200px', 'width': '100%', 'position': 'absolute', 'top': '100%', 'z-index': '1000', 'background-color': 'white', 'box-shadow': '0px 4px 8px rgba(0, 0, 0, 0.1)'}">
                                                        <ng-template let-producto pTemplate="item">
                                                            <div style="border-bottom: 1px solid #ddd; padding: 8px; background-color: #EFEFEF;">
                                                                <div><strong>{{producto.sNoParte}}</strong> / <strong
                                                                        style="color: #92B673;">{{producto.sMarca}} </strong>
                                                                    / <strong style="color:#6AB2C6;"> {{producto.sProducto}}</strong>/
                                                                     <strong style="color:#A879A0;"> {{producto.sDescripcion}}</strong></div>
                                                            </div>
                                                        </ng-template>
                                                    </p-listbox>
                                                </div>
                                            </div>
                                        </div>
                                        <p-toast></p-toast>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="noParte">No.Parte</th>
                                            <th pSortableColumn="descripcion">Producto</th>
                                            <th pSortableColumn="descripcion">Descripción</th>
                                            <th pSortableColumn="categoria">Marca</th>
                                            <th pSortableColumn="precio">Precio</th>
                                            <th pSortableColumn="Incremento">Incremento</th>
                                            <th pSortableColumn="stock">Stock</th>
                                            <th pSortableColumn="cantidad">Cantidad</th>
                                            <th>Acción</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-producto>
                                        <tr>
                                            <td><strong
                                                    (click)="abrirCotizacionProductoCliente(producto.tcProducto.nId)">{{producto.tcProducto.sNoParte}}</strong>
                                            </td>
                                            <td>{{producto.tcProducto.sProducto}}</td>
                                            <td>{{producto.tcProducto.sDescripcion}}</td>
                                            <td>{{producto.tcProducto.sMarca}}</td>
                                            <td>${{producto.tcProducto.nPrecioConIva | number:'1.1-3' }}</td>
                                            <td>
                                                <p-inputNumber mode="currency" currency="USD" locale="en-US"
                                                    formControlName="nIncrementoCtrl"
                                                    (focusout)="sumarIncremento(producto)">
                                                </p-inputNumber>
                                            </td>

                                            <td>{{producto.nCantidadTotal}}</td>
                                            <td>
                                                <p-inputNumber formControlName="nCantidadCtrl" inputId="minmax-buttons"
                                                    [min]="0" [max]="1000">
                                                </p-inputNumber>
                                            </td>
                                            <td>
                                                <button *ngIf="regreso" pButton pRipple icon="pi pi-plus"
                                                    class="p-button-rounded p-button-success p-mr-2 p-button-outlined"
                                                    (click)="agregarProduct(producto)"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                    <!--Distribución del producto-->
                    <div class="p-col-12 p-lg-3 p-md-3 fondo-content ">   
                        <app-modal-productos-bodega [listaProductoBodega]="listaProductoBodega"
                            [stockTotal]="stockTotal" [traspaso]=traspaso>
                        </app-modal-productos-bodega>

                    </div>
                    <!--Productos alternativos-->

                    <div class="p-col-12 p-lg-12 p-md-12 fondo-content " *ngIf="banAlternativos">
                        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                            <div class="p-col-12 p-lg-12 p-md-12 ">
                                <form [formGroup]="formGrp" autocomplete="off">
                                    <div class="p-col-12 ">
                                        <p-table #dt [value]="productosAlternativos"
                                            [globalFilterFields]="['tcProducto.sProducto','nCantidadTotal']"
                                            [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
                                            [showCurrentPageReport]="true">
                                          <!-- <ng-template pTemplate="caption">
                                                <div
                                                    class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                                    <span class="p-input-icon-left">
                                                        <i class="pi pi-search"></i>
                                                        <input pInputText type="text"
                                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                            placeholder="Buscar Alternativo" />
                                                    </span>
                                                </div>
                                            </ng-template>
                                            --> 
                                            <div class="p-col-12 text-center"><h4>Alternativos</h4></div>
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th pSortableColumn="descripcion">No. Parte</th>
                                                    <th pSortableColumn="tcProducto.sProducto">Producto
                                                        <p-sortIcon field="tcProducto.sProducto"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="precio">Descripción</th>
                                                    <th pSortableColumn="precio">Marca</th>
                                                    <th pSortableColumn="precio">Precio</th>
                                                    <th pSortableColumn="nCantidadTotal">Stock
                                                        <p-sortIcon field="nCantidadTotal"></p-sortIcon>
                                                    </th>
                                                    <th pSortableColumn="stock">Cantidad</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-producto>
                                                <tr>
                                                    <td>{{producto.tcProducto.sNoParte}}</td>
                                                    <td>{{producto.tcProducto.sProducto}}</td>
                                                    <td>{{producto.tcProducto.sDescripcion}}</td>
                                                    <td>{{producto.tcProducto.sMarca}}</td>
                                                    <td>${{producto.tcProducto.nPrecioConIva | number:'1.1-3' }}</td>

                                                    <td class="p-text-center">
                                                        <button *ngIf="producto.nCantidadTotal>0" pButton pRipple
                                                            class=" p-button-success " 
                                                            (click)="mostrarditribucionBodegas(producto.tcProducto.nId)"
                                                            label={{producto.nCantidadTotal}}></button>
                                                        <button *ngIf="producto.nCantidadTotal==0" pButton pRipple
                                                            class=" p-button-danger"
                                                            (click)="mostrarditribucionBodegas(producto.tcProducto.nId)"
                                                            label={{producto.nCantidadTotal}}></button>
                                                    </td>
                                                    <td>
                                                        <p-inputNumber formControlName="nCantidadCtrl" [min]="0"
                                                            [max]="100">
                                                        </p-inputNumber>
                                                    </td>
                                                    <td>
                                                        <button pButton pRipple icon="pi pi-plus"
                                                            class="p-button-rounded p-button-success p-mr-2 p-button-outlined"
                                                            (click)="agregarProduct(producto)"></button>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
                                </form>
                            </div>
                        </p-scrollPanel>
                    </div>

                    <div class="p-col-12 p-lg-12 p-md-12 fondo-content2 ">
                        <div class="p-col-12 p-mt-3">
                            <span class="p-input-icon-left">
                                <h5 class="p-text-center " style="color: white ;">Carrito de compras <i
                                        class="pi pi-shopping-cart"></i></h5>
                            </span>
                        </div>
                        <div class="p-grid p-dir-col p-nogutter">
                            <div class="p-col-12 ">
                                <p-table #dt5 [value]="listaProductos" [rows]="2" [paginator]="true"
                                    [globalFilterFields]="['noParte','descripcion','precio','cantidad', 'total']"
                                    [rowHover]="true" responsiveLayout="scroll" dataKey="id"
                                    [totalRecords]="listaProductos.length"
                                    currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} productos"
                                    [showCurrentPageReport]="true">
                                    <ng-template pTemplate="caption">
                                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text"
                                                    (input)="dt5.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Buscar Producto" />
                                            </span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="noParte">No.Parte<p-sortIcon
                                                    field="noParte"></p-sortIcon></th>
                                            <th pSortableColumn="descripcion">Descripción<p-sortIcon
                                                    field="descripcion"></p-sortIcon></th>
                                            <th pSortableColumn="precio">Precio<p-sortIcon field="precio"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="cantidad">Cantidad<p-sortIcon
                                                    field="cantidad"></p-sortIcon></th>
                                            <th pSortableColumn="total">Total<p-sortIcon field="total"></p-sortIcon>
                                            </th>
                                            <th>Acción</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-productoVenta>
                                        <tr>
                                            <td><span class="p-column-title">No. Parte</span>
                                                {{productoVenta.tcProducto.sNoParte}}</td>
                                            <td><span class="p-column-title">Producto</span>
                                                {{productoVenta.tcProducto.sProducto}}</td>
                                            <td><span class="p-column-title">Precio con Iva</span>
                                                {{productoVenta.tcProducto.nPrecioConIva | number:'1.1-3'}}</td>
                                            <td><span class="p-column-title">Cantidad</span>{{productoVenta.nCantidad}}
                                            </td>
                                            <td><span class="p-column-title">Precio
                                                    Partida</span>${{productoVenta.tcProducto.nPrecioConIva *
                                                productoVenta.nCantidad | number:'1.1-3'}}</td>
                                            <td><span class="p-column-title">Acción</span><button pButton pRipple
                                                    icon="pi pi-trash" (click)="quitarProducto(productoVenta)"
                                                    class="p-button-rounded p-button-danger p-mr-2 p-button-outlined"></button></td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> <div class="p-col-12 text-center  " style="background: #92B673; border-radius: 5px;"> <strong>Total: </strong> ${{total | number:'1.1-3'}}</div></td>
                                           

                                           
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="summary">
                                        <div class="p-grid p-mt-2" *ngIf="listaProductos.length > 0">
                                            <button pButton class="p-button-primary" (click)="guardarCotizacion()"
                                                [disabled]="formGrp.invalid" label="Guardar cotización"></button>
                                        </div>
                                    </ng-template>
                                </p-table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <p-dialog [(visible)]="mostrarOpcionesVenta" header="Generar venta" [style]="{width: '700px'}" [closable]="false"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <app-form-venta [listaProductos]="listaProductos" [saldoGeneralCliente]="saldoGeneralCliente"
                [total]="total" (emitirVenta)="generarVenta($event)"
                (soloCotizacion)="soloCotizacion()"></app-form-venta>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="mostrarMaquinasCliente" header="Maquinas del Cliente" [style]="{width: '700px'}"
        [closable]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <app-maquina-cliente [nICliente]="clienteSeleccionado.nId"></app-maquina-cliente>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="mostrarFormularioMaquinasCliente" header="Maquinas del Cliente" [style]="{width: '700px'}"
        [closable]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <app-form-maquina-cliente [twMaquinaCliente]="maquinaCliente"
                (cierraformulario)="cerrarVentanas($event)"></app-form-maquina-cliente>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="mostrarDistribucionBodega" header="Distribución de Inventario" [style]="{width: '700px'}"
        [closable]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="card widget-tasks">
                <app-modal-productos-bodega [listaProductoBodega]="listaProductoBodega" [stockTotal]="stockTotal"
                    [traspaso]=traspaso> </app-modal-productos-bodega>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="mostrarProductosCotizacionCliente" header="Lista Cotizaciones Producto"
        [style]="{width: '700px'}" [closable]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="card widget-tasks">
                <app-cotizacion-cliente-producto [nICliente]="clienteSeleccionado.nId"
                    [nIProducto]="nIdProductoConsulta"> </app-cotizacion-cliente-producto>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="mostrarCotizacionesVigentes" header="Lista Cotizaciones Vigentes" [style]="{width: '90%'}"
        [closable]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="card widget-tasks">
                <app-cotizaciones-cliente-vigentes [nICliente]="clienteSeleccionado.nId"
                    (cotizacionModifica)="cargarListaCompra($event)"> </app-cotizaciones-cliente-vigentes>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>

</div>