.fondo-content{

    background: #efefef;
    border: 4px white solid;
    border-radius: 10px;
    min-height: 300px;

}
.fondo-content2{

    background: linear-gradient(100deg, #78866B 20%, #EDE6DB 110%);
    border: 4px white solid;
    border-radius: 10px;
    min-height: 300px;

}
.fondo-dialog{
    background: red;
    border-radius: 50px;
}