.fondo-content{

    background: #efefef;
    border: 4px white solid;
    border-radius: 10px;
    min-height: 220px;

}
.fondo-content2{

    background: #333333;
    border: 4px white solid;
    color: white;
    border-radius: 10px;
    min-height: 300px;

}
.fondo-dialog{
    background: red;
    border-radius: 50px;
}