<div class="p-grid p-fluid">
    <div class="p-col-12 p-xl-12 p-md-12">
        <app-input-busqueda (productoSeleccionado)="informacionProducto($event)"></app-input-busqueda>
    </div>
</div>

<!--Pedido a consultar-->
<div class="p-grid" *ngIf="muestraDetalleProducto" class="p-col-12 p-lg-12 p-md-12 ">
    <div class="p-text-center">
        <h3>Datos del Producto</h3>
    </div>
    <div class="p-text-center">
        <h4>Stock del producto: {{tvStockProducto.nCantidadTotal}}</h4>
    </div>
    <form [formGroup]="formGrp" autocomplete="off">
        <div class="p-col-12 p-lg-12 p-md-12 ">

            <p-table [value]="listaProducto" [rows]="10" responsiveLayout="scroll"
                currentPageReportTemplate="mostrar {first} a {last} de {totalRecords} productos"
                [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nId">Id</th>
                        <th pSortableColumn="noParte">No.Parte </th>
                        <th pSortableColumn="descripcion">Producto</th>
                        <th pSortableColumn="precio">Descripción</th>
                        <th pSortableColumn="categoria">Precio Compra</th>
                         <th pSortableColumn="editar">Editar</th>
                        <th pSortableColumn="cantidad">Cantidad</th>                       
                        <th pSortableColumn="cantidad"> Proveedor</th>                        
                        <th pSortableColumn="agregar">Agregar</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td (click)="muestraAlternativo(producto)">{{producto.nId}}</td>
                        <td>{{producto.sNoParte}}</td>
                        <td>{{producto.sProducto }}</td>
                        <td>{{producto.sDescripcion}}</td>
                        <td>{{producto.nPrecioPeso | number}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editarProducto(producto)"></button>
                        </td>
                        <td>
                            <p-inputNumber formControlName="nCantidadCtrl" inputId="minmax-buttons" [min]="0"
                                [max]="1000" [class.is-invalid]="validanCantidadCtrl"></p-inputNumber>
                            <small class="p-error" *ngIf="validanCantidadCtrl">*Registrar Cantidad.</small>
                        </td>
                        <td>
                            <p-dropdown [options]="listaProveedores" formControlName="nIdProveedorCtrl"
                                optionLabel="sRazonSocial" optionValue="nId" [class.is-invalid]="validanIdProveedorCtrl"
                                placeholder="Seleccine un Proveedor" [showClear]="true"></p-dropdown>
                            <small class="p-error" *ngIf="validanIdProveedorCtrl">*Registrar Proveedor.</small>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2"
                                (click)="agregarProduct(producto)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


        </div>
    </form>
</div>

<!--Lista de productos del pedido-->

<div class="p-grid" *ngIf="mostraarListaCompra" class="p-col-12 p-lg-12 p-md-12 ">
    <div class="p-text-center">
        <h3>Lista de productos por pedir</h3>
    </div>

    <div class="p-col-12 p-lg-12 p-md-12 ">

        <p-table [value]="listaProductosCompra" [rows]="10" responsiveLayout="scroll"
            currentPageReportTemplate="mostrar {first} a {last} de {totalRecords} productos"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>

                    <th pSortableColumn="noParte">No.Parte </th>
                    <th pSortableColumn="descripcion">Producto</th>
                    <th pSortableColumn="precio">Descripción</th>
                    <th pSortableColumn="categoria">Precio Compra</th>
                    <th pSortableColumn="cantidad">Cantidad</th>
                    <th pSortableColumn="cantidad"> Proveedor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto>
                <tr>

                    <td>{{producto.tcProducto.sNoParte}}</td>
                    <td>{{producto.tcProducto.sProducto }}</td>
                    <td>{{producto.tcProducto.sDescripcion}}</td>
                    <td>{{producto.tcProducto.nPrecioPeso | number}}</td>
                    <td>{{producto.nCantidadPedida}}</td>
                    <td>{{producto.tcProveedore.sRazonSocial}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-trash" (click)="quitarProducto(producto)"
                            class="p-button-rounded p-button-danger p-mr-2"></button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <div class="p-grid p-mt-2" *ngIf="listaProductosCompra.length>0">
                    <button pButton class="p-button-primary" (click)="guardarPedido()"  label="Guardar Pedido"></button>
                </div>
            </ng-template>
    
        </p-table>
       

    </div>

</div>

<!--registro de productos-->

<p-dialog [(visible)]="productDialog" [style]="{width: '700px'}" [header]="titulo" [closable]="false"
styleClass="p-fluid">
<ng-template pTemplate="content">
    <app-modal-producto [producto]="producto" [titulo]="titulo" (cerrar)="hideDialog($event)"
        (guardarProducto)="saveProduct($event)"></app-modal-producto>
</ng-template>
</p-dialog>

