<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nueva Caja" icon="pi pi-plus"
                        class="p-button-success p-mr-2 p-mb-2" (click)="abrirFormularioCaja()"></button>

                </ng-template>


            </p-toolbar>
            <p-table #dt [value]="listaCajas" [rows]="10" [paginator]="true"
                [globalFilterFields]="['nId','dFechaCierre', 'dFechaCierre']" 
                [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Administración de cajas</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar Cajas" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                        </th>
                        <th pSortableColumn="nId">Id Caja 
                              <p-sortIcon field="nId"></p-sortIcon>    </th>
                                         
                        <th pSortableColumn="dFechaApertura">Fecha Apertura
                            <p-sortIcon field="dFechaApertura"></p-sortIcon>
                        </th>

                        <th pSortableColumn="dFechaCierre">Fecha Cierre
                            <p-sortIcon field="dFechaCierre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Saldo Inicial
                           
                        </th>
                        <th pSortableColumn="rating">Saldo Cierre
                           
                        </th>
                        <th pSortableColumn="rating">Saldo Final
                           
                        </th>
                        <th pSortableColumn="inventoryStatus">Estatus
                          
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-caja>
                    <tr>
                        <td>
                        </td>
                        <td><span class="p-column-title">Id Caja</span> {{caja.nId}}
                        </td>
                        <td><span class="p-column-title">Fecha Apertura</span> {{caja.dFechaApertura | date}}
                        </td>
                        <td><span class="p-column-title">Fecha Cierre</span> {{caja.dFechaCierre | date}}
                        </td>
                        <td><span class="p-column-title">Saldo Inicial</span> {{caja.nSaldoInicial | number }}
                        </td>
                        <td><span class="p-column-title">Saldo Cierre</span> {{caja.nSaldoCierre | number}}
                        </td>
                        <td><span class="p-column-title">Estatus</span> {{caja.nSaldoFinal | number}}
                        </td>
                        <td *ngIf="caja.nEstatus==1"><span class="p-column-title">Status</span> ABIERTA
                        </td>
                        <td *ngIf="caja.nEstatus==0"><span class="p-column-title">Status</span> CERRADA
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger"
                                (click)="generarBalance(caja)"></button>
                                <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info"
                                (click)="consultarDetalleVentas(caja.nId)"></button>
                        </td>



                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{listaClientes ? listaClientes.length : 0 }} Registros.
                    </div>
                </ng-template>
            </p-table>
        </div>

        
       
        <p-dialog [(visible)]="mostrarRegistroCaja" [style]="{width: '600px'}" header="Datos de la caja" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="formulario">                  

                    <div class="p-field">
                        <label for="name">Saldo inicial de la caja</label>
                        <p-inputNumber mode="decimal" formControlName="n_saldoInicial" [class.is-invalid]="validan_saldoInicial" ></p-inputNumber>
                        <small *ngIf="validan_saldoInicial" class="p-error">Número no valido.</small>
                    </div>                   
                </form>
                      
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="nuevaCaja()"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="mostrarCaja" header="Ventas de la caja" [style]="{width: '1100px'}" [closable]="false" styleClass="p-fluid">
                                
            <p-table #dt2 [value]="listaVentasReporte" responsiveLayout="scroll" [rows]="10" [columns]="cols"
                    [paginator]="true"
                    [globalFilterFields]="['nIdVenta','sRfc','sRazonSocial','sEstatusVenta','sTipoVenta','sTipoPago','dInicioCredito','dTerminoCredito', 'sNombreUsuario','sFormaPago','nDescuento','nTotalVenta','nTotalPagoCajaNota','nSaldoFinalVenta','sEstatusEntrega']"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} Registros"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Buscar ventas de la caja" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="nIdVenta">No. Venta<p-sortIcon field="nIdVenta"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sRfc">RFC<p-sortIcon field="sRfc"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sRazonSocial">Razón social<p-sortIcon field="sRazonSocial"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sEstatusVenta">Estatus venta<p-sortIcon field="sEstatusVenta"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sTipoVenta">Tipo Venta<p-sortIcon field="sTipoVenta"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sTipoPago">Tipo Pago<p-sortIcon field="sTipoPago"></p-sortIcon>
                            </th>
                            <th pSortableColumn="dInicioCredito">Inicio Crédito<p-sortIcon field="dInicioCredito"></p-sortIcon>
                            </th>
                            <th pSortableColumn="dTerminoCredito">Termino Crédito<p-sortIcon field="dTerminoCredito"></p-sortIcon>
                            </th>   
                            <th pSortableColumn="sNombreUsuario">Nombre Usuario<p-sortIcon field="sNombreUsuario"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sFormaPago">Forma de Pago<p-sortIcon field="sFormaPago"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nDescuento">Descuento<p-sortIcon field="nDescuento"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nTotalVenta">Total Venta<p-sortIcon field="nTotalVenta"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nTotalPagoCajaNota">Total pago Caja<p-sortIcon field="nTotalPagoCajaNota"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nSaldoFinalVenta">Saldo Final<p-sortIcon field="nSaldoFinalVenta"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sEstatusEntrega">Estatus de entrega<p-sortIcon field="sEstatusEntrega"></p-sortIcon>
                            </th>
                           
                                                                                                    
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-venta let-expanded="expanded">
                        <tr>                                    
                            <td><span class="p-column-title">No. Venta</span> {{venta.nIdVenta}}
                            </td>
                            <td><span class="p-column-title">RFC</span> {{venta.sRfc}}
                            </td>
                            <td><span class="p-column-title">Razón social</span> {{venta.sRazonSocial}}
                            </td>
                            <td><span class="p-column-title">Estatus venta</span>{{venta.sEstatusVenta}}
                            </td>
                            <td><span class="p-column-title">Tipo Venta</span>{{venta.sTipoVenta}}
                            </td>
                            <td><span class="p-column-title">Tipo Pago</span> {{venta.sTipoPago }}
                            </td>                                    
                            <td><span class="p-column-title">Inicio Crédito</span> {{venta.dInicioCredito | date}}
                            </td>
                            <td><span class="p-column-title">Termino Crédito</span> {{venta.dTerminoCredito | date}}
                            </td>  
                            <td><span class="p-column-title">Nombre Usuario</span> {{venta.sNombreUsuario}}
                            </td>
                            <td><span class="p-column-title">Forma de Pago</span> {{venta.sFormaPago}}
                            </td>
                            <td><span class="p-column-title">Descuento</span> {{venta.nDescuento}}
                            </td>
                            <td><span class="p-column-title">Total Venta</span>{{venta.nTotalVenta}}
                            </td>
                            <td><span class="p-column-title">Total pago Caja</span>{{venta.nTotalPagoCajaNota}}
                            </td>
                            <td><span class="p-column-title">Saldo Final</span> {{venta.nSaldoFinalVenta }}
                            </td>
                            <td><span class="p-column-title">Estatus de entrega</span>{{venta.sEstatusEntrega}}
                            </td>
                    
                           
                                                           
                                                                
                        </tr>
                    </ng-template>
                 </p-table>
                 <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" label="Exportar consulta"
                        class="p-button-help p-mb-2" (click)="dt2.exportCSV()"></button>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="hideDialogAlter()"></button>
                </ng-template>
</p-dialog>
















        <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>
    </div>
</div>
