<form [formGroup]="formGrp" autocomplete="off" class="p-fluid">
  <div class="p-grid p-formgrid p-4" style="max-width: 1100px; margin: 0 auto;">

    <!-- Fila 1: No. de parte y nombre del producto -->
    <div class="p-field p-col-12 p-md-6">
      <label>No. de parte <span style="color:red">*</span></label>
      <input pInputText formControlName="sNoParte" (input)="forzarMayusculas('sNoParte')" style="text-transform: uppercase;" />
      <small class="p-error" *ngIf="validaNoParte">*Número de Parte requerido.</small>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label>Nombre del producto <span style="color:red">*</span></label>
      <input pInputText formControlName="sProducto" (input)="forzarMayusculas('sNoParte')"  style="text-transform: uppercase;" />
      <small class="p-error" *ngIf="validaProducto">*Nombre requerido.</small>
    </div>

    <!-- Fila 2: Descripción -->
    <div class="p-field p-col-12">
      <label>Descripción <span style="color:red">*</span></label>
      <textarea pInputTextarea formControlName="sDescripcion" rows="2" (input)="forzarMayusculas('sNoParte')"  style="text-transform: uppercase;"></textarea>
      <small class="p-error" *ngIf="validaDescripcion">*Descripción requerida.</small>
    </div>

    <!-- Fila 3: Código y Marca -->
    <div class="p-field p-col-12 p-md-4">
      <label>Código</label>
      <input pInputText formControlName="sIdBar" readonly />
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label>Marca <span style="color:red">*</span></label>
      <input pInputText formControlName="sMarca" readonly   />
    </div>

    <!-- Fila 4: Marca catálogo y categoría general -->
    <div class="p-field p-col-12 p-md-4">
      <label>Marca catálogo <span style="color:red">*</span></label>
      <p-dropdown [options]="listaMarca" formControlName="nIdMarca" optionLabel="sMarca" optionValue="nId" (onChange)="asignarMarca($event)" filter="true" placeholder="Elige Marca"></p-dropdown>
      <small class="p-error" *ngIf="validanIdMarca">*Marca requerida.</small>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label>Categoría general <span style="color:red">*</span></label>
      <p-dropdown [options]="listaCategoriaGeneral" formControlName="nIdCategoriaGeneral" optionLabel="sCategoriaGeneral" optionValue="nId" filter="true" placeholder="Elige categoria general"></p-dropdown>
      <small class="p-error" *ngIf="validaCategoriaGeneral">*Categoría general requerida.</small>
    </div>

    <!-- Fila 5: Categoría y Precio -->
    <div class="p-field p-col-12 p-md-4">
      <label>Categoría <span style="color:red">*</span></label>
      <p-dropdown [options]="listaCategoria" formControlName="nIdCategoria" optionLabel="sDescripcion" optionValue="nId" filter="true" placeholder="Elige categoria"></p-dropdown>
      <small class="p-error" *ngIf="validaCategoria">*Categoría requerida.</small>
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label>Clave SAT <span style="color:red">*</span></label>
      <p-dropdown [options]="listaClaveSat" formControlName="nIdclavesat" optionLabel="sDescripcion" optionValue="nId" filter="true" placeholder="Elige categoria SAT"></p-dropdown>
      <small class="p-error" *ngIf="validaClaveSat">*Clave SAT requerida.</small>
    </div>
    

    <!-- Fila 6: Peso, Largo, Alto, Ancho -->
    <div class="p-field p-col-12 p-md-3">
      <label>Peso (kg)</label>
      <p-inputNumber formControlName="nPeso" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label>Largo (cm)</label>
      <p-inputNumber formControlName="nLargo" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label>Alto (cm)</label>
      <p-inputNumber formControlName="nAlto" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label>Ancho (cm)</label>
      <p-inputNumber formControlName="nAncho" [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
    </div>

    <!-- Fila 7: Volumen y ruta imagen -->
    <div class="p-field p-col-12 p-md-6">
      <label>Volumen (cm³)</label>
      <p-inputNumber formControlName="nVolumen" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
    </div>
  
    <div class="p-field p-col-12 p-md-6">
  <label for="imagen">Imagen del producto (máx 1MB) <span style="color:red">*</span></label>
<input #inputImagen type="file" id="imagen" accept="image/*" (change)="onFileSelected($event)" />

  <small class="p-error" *ngIf="validaImagen">*Imagen requerida.</small>
</div>



    <!-- Fila 8: Moneda y Ganancia -->
     <div class="p-field p-col-12 p-md-3">
      <label>Precio <span style="color:red">*</span></label>
      <p-inputNumber formControlName="nPrecio" mode="currency" currency="USD" locale="en-US" ></p-inputNumber>
      <small class="p-error" *ngIf="validaPrecio">*Precio requerido.</small>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label>Moneda <span style="color:red">*</span></label>
      <p-dropdown [options]="listaMoneda" formControlName="sMoneda" optionLabel="sMoneda" optionValue="sMoneda" filter="true"  placeholder="Seleccione una moneda"> </p-dropdown>
      <small class="p-error" *ngIf="validaMoneda">*Moneda requerida.</small>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <label>Ganancia <span style="color:red">*</span></label>
      <p-dropdown [options]="listaGanancia" formControlName="nIdGanancia" optionLabel="nGanancia" optionValue="nId" placeholder="Seleccione ganancia"  filter="true">
         <ng-template let-gan pTemplate="item">
                {{ gan.nGanancia | percent:'1.0-0' }}
            </ng-template>
             <ng-template let-gan pTemplate="selectedItem">
      {{ gan?.nGanancia != null ? (gan.nGanancia | percent:'1.0-0') : 'Seleccione ganancia' }}
    </ng-template>
      </p-dropdown>
      <small class="p-error" *ngIf="validaGanancia">*Ganancia requerida.</small>
    </div>

    <!-- Fila 9: Descuento y clave SAT -->
    <div class="p-field p-col-12 p-md-3">
        <label>Descuento <span style="color:red">*</span></label>
        <p-dropdown [options]="listaGanancia" formControlName="nIdDescuento" optionLabel="nGanancia" optionValue="nId"
            filter="true" [autoDisplayFirst]="false" placeholder="Seleccione descuento">

            <ng-template let-gan pTemplate="item">
                {{ gan.nGanancia | percent:'1.0-0' }}
            </ng-template>
             <ng-template let-gan pTemplate="selectedItem">
      {{ gan?.nGanancia != null ? (gan.nGanancia | percent:'1.0-0') : 'Seleccione descuento' }}
    </ng-template>
            

        </p-dropdown>
        <small class="p-error" *ngIf="validaDescuento">*Descuento requerido.</small>
    </div>

    <!-- Fila 10: Precio Final -->
    <div class="p-field p-col-12 p-text-center">
      <label>Precio Final</label><br />
      <strong><p-tag><h2 style="color:white">  {{ precioFinal ? (precioFinal | number:'1.2-2') : '0.00' }}</h2></p-tag></strong>
    </div>

    <!-- Botón Guardar -->
    <div class="p-col-12 p-d-flex p-jc-end">
      <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-success" (click)="guardarProducto()" [disabled]="guardando || formGrp.invalid"></button>
    </div>
  </div>
</form>
