<div class="p-grid">

    <div class="p-col-12">
        <div class="card">
          

               <!--Tabla de productos general-->
            <p-table #dt [value]="listaPedidos" [rows]="10" [paginator]="true"
            [globalFilterFields]="['nId','sClavePedido','tcProducto.sNoParte','tcProducto.sProducto','nCantidadPedida','tcProveedore.sRazonSocial', 'tcUsuario.sNombreUsuario']" [(selection)]="selectedProducts"
            [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Productos del Pedido</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar producto..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                    
                       
                        
                        <th pSortableColumn="tcProducto.sNoParte">No Parte
                            <p-sortIcon field="tcProducto.sNoParte"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcProducto.sProducto">Producto
                            <p-sortIcon field="tcProducto.sProducto"></p-sortIcon>
                        </th>
                        
                        <th pSortableColumn="tcProveedore.sRazonSocial">Proveedor
                            <p-sortIcon field="tcProveedore.sRazonSocial"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcUsuario.sNombreUsuario">Usuaurio
                            <p-sortIcon field="tcUsuario.sNombreUsuario"></p-sortIcon>
                            
                        </th>
                        <th pSortableColumn="nCantidadPedida">Cantidad Pedida
                            <p-sortIcon field="nCantidadPedida"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nCantidaRecibida">Cantidad Recibida
                            <p-sortIcon field="nCantidaRecibida"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nCantidaRecibida">Diferencia
                            <p-sortIcon field="nCantidaRecibida"></p-sortIcon>
                        </th>
                       
                        <td *ngIf="banIngreso" pSortableColumn="sRfc">Recibido
                            <p-sortIcon field="sRfc"></p-sortIcon>

                        <td *ngIf="banIngreso" pSortableColumn="sRfc">Fecha Ingreso
                                <p-sortIcon field="sRfc"></p-sortIcon>
                    
                    
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                      
                      
                        <td><span class="p-column-title">producto</span> {{pedido.tcProducto.sNoParte}}
                        </td>
                        <td><span class="p-column-title">Descipcion</span> {{pedido.tcProducto.sProducto}}
                        </td>                       
                        <td><span class="p-column-title">Status</span> {{pedido.tcProveedore.sRazonSocial}}
                        </td> 
                        <td><span class="p-column-title">Status</span> {{pedido.tcUsuario.sNombreUsuario}}
                        </td> 
                        <td><span class="p-column-title">Status</span> {{pedido.nCantidadPedida}}
                        </td> 
                        <td><span class="p-column-title">Status</span> {{pedido.nCantidaRecibida}}
                        </td> 
                        <td><span class="p-column-title">Status</span><div *ngIf="pedido.nCantidadPedida!=pedido. nCantidaRecibida" style="background: red ; color:white; text-align:center ; border-radius: 20px;">{{pedido.nCantidadPedida-pedido. nCantidaRecibida}}</div> 
                            <div *ngIf="pedido.nCantidadPedida==pedido. nCantidaRecibida" style="background: green ; color:white; text-align:center ; border-radius: 20px;">{{pedido.nCantidadPedida-pedido. nCantidaRecibida}}</div>
                        </td>
      
                        
                       
                        <td *ngIf="banIngreso"> <div *ngIf="pedido.nEstatus==true">Entregado</div> <div *ngIf="pedido.nEstatus==false">Pendiente de entrega</div> </td>
                        <td *ngIf="banIngreso"><span class="p-column-title">Status</span> {{pedido.dFechaRecibida | date}}
                         </td>
                        <td>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-2"
                                (click)="detalleProduct(pedido.tcProducto.nId)"></button>   
                                <button *ngIf="pedido.nEstatus==false || pedido.nEstatus==null " pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                                (click)="mostrarRegistroEntrada(pedido)"></button> 
                                <button  *ngIf="banIngreso" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2" (click)="confirm(pedido)"></button>                          
    
                               
                          
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total de Productos: {{listaPedidos ? listaPedidos.length : 0 }}
                    </div>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}" [header]="titulo" [closable]="false"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <app-modal-producto [producto]="producto" [titulo]="titulo" (cerrar)="hideDialog($event)"
                    (guardarProducto)="saveProduct($event)"></app-modal-producto>
            </ng-template>
        </p-dialog>

        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

     

        <!-- Formulario de Registro de entregas parciales -->

        <p-dialog [(visible)]="mostrarEntrega" [style]="{width: '800px'}" header="Ingreso de producto " [modal]="false"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="name">Total Producto a ingresar</label>
                <p-inputNumber type="number" pInputText id="nCantidaRecibida" name="nCantidaRecibida"
                    [(ngModel)]="pedido.nCantidaRecibida"></p-inputNumber>
                <small class="p-invalid" *ngIf="submitted">Monto requerido.</small>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="cerrar()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                (click)="guardarIngresoProducto()"></button>
        </ng-template>
    </p-dialog>

           <!--Lista de productos por bodega-->

        <p-dialog [(visible)]="detalleDialog" [style]="{width: '700px'}" header="Detalle del Producto" [modal]="true"
            styleClass="p-fluid" [closable]="false">
            <ng-template pTemplate="content">
                <div class="card">
                    <app-modal-productos-bodega [listaProductoBodega]="listaProductoBodega" [stockTotal]="stockTotal" [traspaso]=traspaso>
                    </app-modal-productos-bodega>
                </div>
                <div class="card">
                    <app-historia-precio-producto [listaHistoriaPrecioProducto]="listaHistoriaPrecioProducto">
                    </app-historia-precio-producto>
                </div>

                <div class="card">
                    <div class="p-text-center">
                        <h3>Historia de ingreso del Producto</h3>
                    </div>
                    <p-table [value]="products" responsiveLayout="scroll" scrollHeight="400px"
                        styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No Parte</th>
                                <th>Nombre Parte</th>
                                <th>Bodega</th>
                                <th>Ubicación</th>
                                <th>Total_ingreso</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.code}}</td>
                                <td>{{product.name}}</td>
                                <td>LOCAL</td>
                                <td>100 A</td>
                                <td>28</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialogDetalle()"></button>
            </ng-template>
        </p-dialog>
        <!--*******************************************************************************************+-->

        <!--Formulario de registro de productos alternativos-->

        <p-dialog [(visible)]="alternativosDialog" [style]="{width: '1000px'}" header="Productos Alternativos"
            [modal]="true" styleClass="p-fluid" [closable]="false">
            <ng-template pTemplate="content">
                <app-modal-productos-alternativos [nIdProducto]="nIdProducto" [sProducto]="sProducto">
                </app-modal-productos-alternativos>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialogAlternativos()"></button>

            </ng-template>
        </p-dialog>
        <ng-template [ngIf]="muestraConfirmDialog">
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </ng-template>
          <!--***************************************************************************************************-->
    </div>
</div>

