<div class="p-grid">

    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo Producto" icon="pi pi-plus"
                        class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>
                </ng-template>
            </p-toolbar>

               <!--Tabla de productos general-->
            <p-table #dt [value]="listaPedidos" [rows]="10" [paginator]="true"
                [globalFilterFields]="['TcProducto.sNoParte', 'TcProducto.sProducto']" [(selection)]="selectedProducts" [rowHover]="true"
                dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Administración de Productos</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar producto..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pedido</th>
                        <th>Clave Pedido</th>
                        <th>No Parte</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Proveedor</th>
                        <th>Usuaurio</th>
                        <th>Estatus</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td><span class="p-column-title">id</span> {{pedido.nId}}
                        </td>
                       <td><span class="p-column-title">No de parte</span> {{pedido.sClavePedido}}
                        </td>
                        <td><span class="p-column-title">producto</span> {{pedido.tcProducto.sNoParte}}
                        </td>
                        <td><span class="p-column-title">Descipcion</span> {{pedido.tcProducto.sProducto}}
                        </td>
                        <td><span class="p-column-title">Status</span> {{pedido.nCantidadPedida}}
                        </td> 
                        <td><span class="p-column-title">Status</span> {{pedido.tcUsuario.sNombreUsuario}}
                        </td> 
                        <td><span class="p-column-title">Status</span> {{pedido.nEstatus}}
                        </td> 
                        <td>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-2"
                                (click)="detalleProduct(pedido.tcProducto.nId)"></button>
                            <button pButton pRipple icon="pi pi-sitemap" class="p-button-rounded p-button-warning"
                                (click)="alternativosProduct(pedido.tcProducto.nId, pedido.tcProducto.sProducto)"></button>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editarProducto(pedido.tcProducto)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                (click)="deleteProduct(pedido.tcProducto)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total de Productos: {{listaProductos ? listaProductos.length : 0 }}
                    </div>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="productDialog" [style]="{width: '700px'}" [header]="titulo" [closable]="false"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <app-modal-producto [producto]="producto" [titulo]="titulo" (cerrar)="hideDialog($event)"
                    (guardarProducto)="saveProduct($event)"></app-modal-producto>
            </ng-template>
        </p-dialog>

           <!--Lista de productos por bodega-->

        <p-dialog [(visible)]="detalleDialog" [style]="{width: '700px'}" header="Detalle del Producto" [modal]="true"
            styleClass="p-fluid" [closable]="false">
            <ng-template pTemplate="content">
                <div class="card">
                    <app-modal-productos-bodega [listaProductoBodega]="listaProductoBodega" [stockTotal]="stockTotal" [traspaso]=traspaso>
                    </app-modal-productos-bodega>
                </div>
                <div class="card">
                    <app-historia-precio-producto [listaHistoriaPrecioProducto]="listaHistoriaPrecioProducto">
                    </app-historia-precio-producto>
                </div>

                <div class="card">
                    <div class="p-text-center">
                        <h3>Historia de ingreso del Producto</h3>
                    </div>
                    <p-table [value]="products" responsiveLayout="scroll" scrollHeight="400px"
                        styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No Parte</th>
                                <th>Nombre Parte</th>
                                <th>Bodega</th>
                                <th>Ubicación</th>
                                <th>Total_ingreso</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.code}}</td>
                                <td>{{product.name}}</td>
                                <td>LOCAL</td>
                                <td>100 A</td>
                                <td>28</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialogDetalle()"></button>
            </ng-template>
        </p-dialog>
        <!--*******************************************************************************************+-->

        <!--Formulario de registro de productos alternativos-->

        <p-dialog [(visible)]="alternativosDialog" [style]="{width: '1000px'}" header="Productos Alternativos"
            [modal]="true" styleClass="p-fluid" [closable]="false">
            <ng-template pTemplate="content">
                <app-modal-productos-alternativos [nIdProducto]="nIdProducto" [sProducto]="sProducto">
                </app-modal-productos-alternativos>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialogAlternativos()"></button>

            </ng-template>
        </p-dialog>
        <ng-template [ngIf]="muestraConfirmDialog">
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </ng-template>
          <!--***************************************************************************************************-->
    </div>
</div>

