<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nuevo Producto" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openNew()"></button>

                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="listaProductos" [rows]="10" [paginator]="true" [globalFilterFields]="['sNoParte', 'sProducto']" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Administración de Productos</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar producto..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Código Producto</th>
                        <th>No de parte</th>
                        <th>Nombre parte</th>
                        <th>Marca</th>
                        <th>Precio</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td><span class="p-column-title">id</span> {{product.nId}}
                        </td>
                        <td><span class="p-column-title">No de parte</span> {{product.sNoParte}}
                        </td>
                        <td><span class="p-column-title">producto</span> {{product.sProducto}}
                        </td>
                        <td><span class="p-column-title">Descipcion</span> {{product.sMarca}}
                        </td>
                        <td><span class="p-column-title">Status</span> {{product.nPrecio | currency:'USD'}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-2" (click)="detalleProduct(product)"></button>
                            <button pButton pRipple icon="pi pi-sitemap" class="p-button-rounded p-button-warning" (click)="alternativosProduct(product)"></button>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="ejecuta.editProducto(product,'Actualización de Producto')"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteProduct(product)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Total de Productos: {{listaProductos ? listaProductos.length : 0 }}
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-modal-producto #ejecuta [productDialog]="productDialog" [titulo]="titulo" (cerrar)="hideDialog($event)" (guardarProducto)="saveProduct($event)"></app-modal-producto>

        <p-dialog [(visible)]="detalleDialog" [style]="{width: '700px'}" header="Detalle del Producto" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="card">

                    <div class="p-text-center">
                        <h3>Historia de precios del Producto</h3>
                    </div>
                    <div class="p-col-12 p-lg-12">


                        <div class="card">

                            <div class=" p-justify-center">
                                <p-chart id="dashboard-chart" type="line" [data]="lineData" [options]="lineOptions">
                                </p-chart>
                            </div>
                        </div>


                    </div>




                    <p-table [value]="products" responsiveLayout="scroll" scrollHeight="400px" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No Parte</th>
                                <th>Nombre Parte</th>
                                <th>Moneda</th>
                                <th>Precio</th>
                                <th>Fecha Registro</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.code}}</td>
                                <td>{{product.name}}</td>
                                <td>PESO</td>
                                <td>{{product.price}}</td>
                                <td>10/10/2021</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>

                <div class="card">
                    <div class="p-text-center">
                        <h3>Historia de ingreso del Producto</h3>
                    </div>
                    <p-table [value]="products" responsiveLayout="scroll" scrollHeight="400px" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No Parte</th>
                                <th>Nombre Parte</th>
                                <th>Bodega</th>
                                <th>Ubicación</th>
                                <th>Total_ingreso</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.code}}</td>
                                <td>{{product.name}}</td>
                                <td>LOCAL</td>
                                <td>100 A</td>
                                <td>28</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>

            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="alternativosDialog" [style]="{width: '700px'}" header="Detalle del Producto" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="card">

                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="nuevo" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="registroAlternativos()"></button>

                        </ng-template>
                    </p-toolbar>

                    <div class="p-text-center">
                        <h3>Alternativos del Producto</h3>
                    </div>

                    <p-table [value]="products" responsiveLayout="scroll" scrollHeight="400px" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No Parte</th>
                                <th>Nombre Parte</th>
                                <th>Moneda</th>
                                <th>Precio</th>
                                <th>Stock</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>{{product.code}}</td>
                                <td>{{product.name}}</td>
                                <td>PESO</td>
                                <td>{{product.price}}</td>
                                <td>26</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>


            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>

            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>