<div class="p-grid">
    <!-- Primera fila: columna de todo el ancho -->
    <div class="p-col-12">
      <div class="card">
        <h5>Folio</h5>
        <p>{{vwFacturaProductoBalance.sFolioFactura}}</p>
      </div>
    </div>
  
    <!-- Segunda fila: dividida en dos columnas -->
    <div class="p-col-12 p-md-6">     
     
        <div class="p-grid p-fluid">
          <div class="p-col-12">
            <div class="card">
             <div class="p-col-12 text-center"> <h5>Busqueda del producto</h5></div>

              <div class="p-field p-grid">
                <div class="p-col-12 p-md-10">
                  <app-input-busqueda (productoSeleccionado)="onProductoSeleccionado($event)"></app-input-busqueda>                
                </div>
              </div>

              <div class="card"  *ngIf="banProductoSeleccionado">
                <div class="p-col-12 text-center"> <h5>Registro Factura-Producto</h5></div>
              <form [formGroup]="formGrp" class="p-fluid p-pt-4">              

                <div class="p-field p-grid">                
                  <div class="p-col-12 p-md-12">                    
                   <label for="no_parte">Parte seleccionada</label>
                    <input
                      id="precio"
                      type="text"
                      pInputText
                      formControlName="noParte"
                      placeholder="No parte"
                    />                  
                  </div>
                </div>
        
                <div class="p-field p-grid">
                  <div class="p-col-12 p-md-12">
                    <label for="marca">Marca</label>
                    <p-dropdown
                      id="marca"
                      [options]="listaMarca"
                      formControlName="marca"
                      optionLabel="sMarca"
                      optionValue="nId"
                      placeholder="Seleccione una marca"
                      [showClear]="true"
                    ></p-dropdown>
                   
                  </div>
                </div>
        
                <div class="p-field p-grid">
                  <div class="p-col-12 p-md-12">
                    <label for="cantidad">Cantidad</label>
                    <input
                      id="cantidad"
                      type="number"
                      pInputText
                      formControlName="cantidad"
                      placeholder="Ingrese la cantidad"
                    />
                   
                  </div>
                </div>
        
                <div class="p-field p-grid">
                  <div class="p-col-12 p-md-12">
                     <label for="precio">precio</label>
                    <input
                      id="precio"
                      type="text"
                      pInputText
                      formControlName="precio"
                      placeholder="Ingrese el precio"
                    />
                  
                  </div>
                </div>
                <div class="p-field p-grid">
                  <div class="p-col-12 p-md-12">
                    <label for="moneda">moneda</label>
                    <input
                      id="modenda"
                      type="text"
                      pInputText
                      formControlName="moneda"
                      placeholder="Moneda"
                    />                  
                  </div>
                </div>
        
                <div class="p-field p-grid">
                  <div class="p-col-12 p-md-2"></div>
                  <div class="p-col-12 p-md-12">
                    <button pButton type="submit" label="Guardar" [disabled]="formGrp.invalid"></button>
                  </div>
                </div>
              </form>
            </div>



            </div>
          
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6">
      <div class="card">
        <h5>Segunda Fila - Columna 2</h5>
        <p>Contenido de la segunda columna de la segunda fila.</p>
      </div>
    </div>
  </div>