<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <div class="p-text-center">
                <h3>Módulo de Facturación</h3>
            </div>
            <div class="p-text-right">
                <h5>Creditos disponibles: {{creditosRestantes}} </h5>
            </div>
           
            <button pButton pRipple type="button" label="Para Facturar" class="p-button-danger" (click)="obtenerFacruras()"></button>
            <button pButton pRipple pRipple type="button" label="Ventas Facturadas" class="p-button-success" (click)="obtenerVentasFacturadas()"></button>

            <p-table #dt [value]="listaVentas" [rows]="10" [paginator]="true"
            [globalFilterFields]="['nId','tcCliente.sRfc', 'tcCliente.sRazonSocial']" 
            [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">                   
                        <h5 class="p-m-0">Ventas cobradas por facturar</h5>                 
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar Cliente" />
                    </span>
                </div>
            </ng-template>               
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nId">No. Venta 
                            <p-sortIcon field="nId"></p-sortIcon>    </th>
                        <th pSortableColumn="tcCliente.sRfc">RFC
                            <p-sortIcon field="tcCliente.sRfc"></p-sortIcon></th>  
                            <th pSortableColumn="tcCliente.sRazonSocial">Razón Social
                                <p-sortIcon field="tcCliente.sRazonSocial"></p-sortIcon></th>                            
                       
                        <th>Vendedor</th>
                        <th>Estatus</th>
                        <th>Total</th>
                        <th>Tipo Venta</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venta>
                    <tr>
                        <td><span class="p-column-title"></span> {{venta.nId}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcCliente.sRfc}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcCliente.sRazonSocial}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcUsuario.sNombreUsuario}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcEstatusVenta.sDescripcion}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.nTotalVenta | currency:'USD'}}
                        </td>
                        <td *ngIf="venta.nTipoPago==1"><span class="p-column-title"></span>CRÉDITO  </td>
                        
                            <td *ngIf="venta.nTipoPago==0"><span class="p-column-title"></span>CONTADO  </td>
                        <td>
                            <tr>
                                <td *ngIf="venta.idFactura == 0 && venta.tcCliente.nCp!=null && venta.tcCliente.tcRegimenFiscal!=null">
                                    <button pButton pRipple icon="pi pi-file-o" pTooltip="Generar Factura" class="p-button-rounded p-button-warning" (click)="openDialog(venta)"></button>
                                </td>
                                <td *ngIf="venta.idFactura!=0">
                                    <button pButton pRipple icon="pi pi-file-pdf" pTooltip="Descargar Factura" class="p-button-rounded p-button-danger p-mr-2" (click)="descargarFactura(venta.nId)"></button>
                                </td>

                                <td *ngIf="venta.idFactura!=0">
                                    <button pButton pRipple icon="pi pi-book" pTooltip="Descargar xml" class="p-button-rounded p-button-info p-mr-2" (click)="descargarXML(venta.nId)"></button>
                                </td>
                            </tr>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">

                    </div>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>

<p-dialog [(visible)]="formFactura" [style]="{width: '700px'}" header=" NOTA A FACTURAR ES: {{idVenta}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
            <div class="p-grid p-col-12 p-md-12">
                <div class="p-col-12 p-md-12 ">
                    <p-card header="DATOS DEL FACTURACIÓN">
                        <div class="p-grid">
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong>RFC: </strong> {{tvVentasFactura.tcCliente.sRfc}}</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong>Razón social: </strong> {{tvVentasFactura.tcCliente.sRazonSocial}}</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong>Dirección: </strong> {{tvVentasFactura.tcCliente.sDireccion}}</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong>Código Postal: </strong> {{tvVentasFactura.tcCliente.nCp == null ? 'SIN INFORMACIÓN' : tvVentasFactura.tcCliente.nCp}}</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong>Correo electrónico: </strong> {{tvVentasFactura.tcCliente.sCorreo}}</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong> Teléfono: </strong> {{tvVentasFactura.tcCliente.sTelefono == null ? 'SIN INFORMACIÓN' : tvVentasFactura.tcCliente.sTelefono}}</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong> Regimen Fiscal: </strong> {{tvVentasFactura.tcCliente.tcRegimenFiscal!=null ? tvVentasFactura.tcCliente.tcRegimenFiscal.sDescripcion:'' }}</label>
                                </span>
                            </div>
                            <div class="p-field p-col-12 p-md-12">
                                <span class="p-float-label">
                                    <label for="float-input"><strong> Forma de pago: </strong> {{tvVentasFactura.tcFormapago.sDescripcion}}</label>
                                </span>
                            </div>
                        </div>
                    </p-card>
                </div>
                <div class="p-col-12 p-md-12 ">
                    <p-card header="USO CFDI">
                        <div class="p-field p-col-12 p-md-12">
                            <p-dropdown [options]="listaUsoCfdi" optionValue="sClave" optionLabel="sDescripcion" [(ngModel)]="cfdiSeleccionado" placeholder="Selecciona una opción" [showClear]="true"></p-dropdown>
                            
                        </div>
                        <div class="p-field p-col-12 p-md-12 p-text-right">
                            <h5>EL MONTO A FACTURAR ES: <strong>{{totalVenta | number: '1.0-2'}}</strong></h5>
                        </div>
                    </p-card>
                    
                </div>
            </div>
        
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Facturar" icon="pi pi-check" class="p-button-text" (click)="generarFactura()"></button>
      <!--  <button pButton pRipple label="Complemento" icon="pi pi-check" class="p-button-text" (click)="generarComplemento()"></button>-->
    </ng-template>
</p-dialog>

