<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <div class="p-text-center">
                <h3>Módulo de Facturación</h3>
            </div>
           

            <p-table #dt [value]="listaVentas" [rows]="10" [paginator]="true"
            [globalFilterFields]="['nId','tcCliente.sRfc', 'tcCliente.sRazonSocial']" 
            [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">                   
                        <h5 class="p-m-0">Ventas cobradas por facturar</h5>                 
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar Cliente" />
                    </span>
                </div>
            </ng-template>               
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nId">No. Venta 
                            <p-sortIcon field="nId"></p-sortIcon>    </th>
                        <th pSortableColumn="tcCliente.sRfc">RFC
                            <p-sortIcon field="tcCliente.sRfc"></p-sortIcon></th>  
                            <th pSortableColumn="tcCliente.sRazonSocial">Razón Social
                                <p-sortIcon field="tcCliente.sRazonSocial"></p-sortIcon></th>                            
                       
                        <th>Vendedor</th>
                        <th>Estatus</th>
                        <th>Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venta>
                    <tr>
                        <td><span class="p-column-title"></span> {{venta.nId}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcCliente.sRfc}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcCliente.sRazonSocial}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcUsuario.sNombreUsuario}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.tcEstatusVenta.sDescripcion}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.nTotalVenta | currency:'USD'}}
                        </td>
                        <td>
                            <tr>
                                <td *ngIf="venta.idFactura == 0">
                                    <button pButton pRipple icon="pi pi-file-o" pTooltip="Generar Factura" class="p-button-rounded p-button-warning" (click)="openDialog(venta)"></button>
                                </td>
                                <td *ngIf="venta.idFactura!=0">
                                    <button pButton pRipple icon="pi pi-file-pdf" pTooltip="Descargar Factura" class="p-button-rounded p-button-danger p-mr-2" (click)="descargarFactura(venta.nId)"></button>
                                </td>

                                <td *ngIf="venta.idFactura!=0">
                                    <button pButton pRipple icon="pi pi-book" pTooltip="Descargar xml" class="p-button-rounded p-button-info p-mr-2" (click)="descargarXML(venta.nId)"></button>
                                </td>
                            </tr>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">

                    </div>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>

<p-dialog [(visible)]="formFactura" [style]="{width: '700px'}" header="Facturación" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-col-12 p-lg-12">
                <div class="card">
                    <h5>El número de Nota a Facturar es: <strong>{{idVenta}}</strong></h5>
                    <p-dropdown [options]="listaUsoCfdi" optionValue="sClave" optionLabel="sDescripcion" [(ngModel)]="cfdiSeleccionado" placeholder="Selecciona uso CFDI" [showClear]="true"></p-dropdown>
                    <h5>El monto a Facturar es: <strong>{{totalVenta | number: '1.0-2'}}</strong></h5>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Facturar" icon="pi pi-check" class="p-button-text" (click)="generarFactura()"></button>
    </ng-template>
</p-dialog>