<div class="card shadow-2 border-round-xl">
  <!-- 🔎 Título de búsqueda -->
  <div class="text-center mb-4">
    <h3 class=" font-bold">🔎 Búsqueda de Producto Alternativo</h3>
  </div>

  <!-- 🔎 Componente de búsqueda -->
  <div class="p-fluid mb-4">
    <app-input-busqueda 
      (consultarPorId)="informacionProducto($event)">
    </app-input-busqueda>
  </div>

  <!-- 📋 Lista de alternativos -->
  <div class="text-center mb-3" *ngIf="listaProductoAlternativo?.length > 0">
    <h4 class="text-600">
      Lista de productos alternativos para:
      <span class="text-primary">{{ sNoParte }}</span> - 
      <span class="text-900">{{ sProducto }}</span>
    </h4>
  </div>

  <!-- 🗂 Tabla de productos -->
  <p-table 
  *ngIf="listaProductoAlternativo?.length > 0"
    [value]="listaProductoAlternativo"
    responsiveLayout="scroll"
    scrollHeight="400px"
    styleClass="p-datatable-sm p-datatable-striped ">

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 120px">Código</th>
        <th>No. Parte</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th class="text-right">Precio</th>
        <th class="text-center">Acción</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.tcProductoAlternativo.nId }}</td>
        <td>{{ product.tcProductoAlternativo.sNoParte }}</td>
        <td>{{ product.tcProductoAlternativo.sProducto }}</td>
        <td>
          <p-tag 
            severity="info" 
            styleClass="px-3 py-1 font-semibold">
            {{ product.tcProductoAlternativo.sMarca }}
          </p-tag>
        </td>
        <td class="text-right">
          {{ product.tcProductoAlternativo.nPrecioConIva | currency:'MXN':'symbol':'1.2-2' }}
        </td>
        <td class="text-center">
          <button 
            pButton 
            pRipple 
            icon="pi pi-trash" 
            class="p-button-rounded p-button-danger p-button-sm" 
            (click)="deleteProductA(product)">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Confirmación -->
<p-confirmDialog [style]="{width: '450px'}"

 acceptLabel="Aceptar"
  rejectLabel="Cancelar"
  acceptButtonStyleClass="p-button-success"
  rejectButtonStyleClass="p-button-danger">

></p-confirmDialog>