<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <div class="p-text-center">
                <h2>Consulta de Cotizaciones</h2>
            </div>
            <p-table #dt [value]="listaCotizaciones" [rows]="10" [paginator]="true" [globalFilterFields]="[
          'sFolioCotizacion',
          'tcCliente.sRfc',
          'tcCliente.sRazonSocial',
          'nTotalCotizacion',
          'dFecha'
        ]" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers" currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="
              p-d-flex p-flex-column p-flex-md-row p-jc-md-between
              table-header
            ">
                        <h5 class="p-m-0">Cotizaciones</h5>
                        <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar en toda la tabla"
              />
            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="p-text-center">
                        <th pSortableColumn="sFolioCotizacion">
                            Folio Cotización

                        </th>
                        <th pSortableColumn="dFecha">
                            Fecha

                        </th>

                        <th pSortableColumn="nTotalCotizacion">
                            Total Cotización

                        </th>
                        <th pSortableColumn="name">Estatus</th>
                        <th>Subir comprobante</th>
                        <th>Descargar cotización</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cotizacion>
                    <tr class="p-text-center">
                        <td>
                            {{ cotizacion.twCotizacionesDetalle.sFolioCotizacion }}
                        </td>
                        <td>
                            {{ cotizacion.twCotizacionesDetalle.dFecha | date }}
                        </td>

                        <td>
                            {{ cotizacion.twCotizacionesDetalle.nTotalCotizacion | number }}
                        </td>
                        <td *ngIf="cotizacion.nStatus == 0">
                            <i class="pi pi-times" style="color: red;">Sin comprobante Cargado</i>
                        </td>
                        <td *ngIf="cotizacion.nStatus == 1">
                            <i class="pi pi-times" style="color: blue;">Comprobante Cargado</i>
                        </td>
                        <td *ngIf="cotizacion.nStatus == 2">
                            <i class="pi pi-money-bill" style="color: blue;">Pago Aprobado</i>
                        </td>
                        <td *ngIf="cotizacion.nStatus == 3">
                            <i class="pi pi-money-bill" style="color: blue;">Comprobante Rechazado</i>
                        </td>
                        <td *ngIf="cotizacion.nStatus == 0 || cotizacion.nStatus == 3">
                            <button pButton pRipple icon="pi pi-cloud-upload" class="p-button-rounded p-button-info p-mr-2" (click)="muestraFormComprobante(cotizacion.twCotizacionesDetalle)"></button>
                        </td>
                        <td *ngIf="cotizacion.nStatus == 1">
                            En espera de ser aprobado
                        </td>
                        <td *ngIf="cotizacion.nStatus == 2">
                            Preparando su pedido
                        </td>
                        <td> <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger" (click)="generarCotizacionPdf(cotizacion.twCotizacionesDetalle.nId)"></button></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{ listaCotizaciones ? listaCotizaciones.length : 0 }} Registros.
                    </div>
                </ng-template>
            </p-table>



            <p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog>

        </div>
    </div>
    <p-dialog [(visible)]="mostrarFormCarga" header="Subir comprobante de pago" [style]="{width: '700px'}" [closable]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <app-form-carga-comprobante [cotizacion]="cotizacion" (comprobanteCargado)="subirComprobante($event)"></app-form-carga-comprobante>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>
</div>