<div class="card">
    <div class="p-text-center">
        <h3>Historia de precios del Producto</h3>
    </div>

    <p-table #dt [value]="listaHistoriaPrecioProducto" [rows]="5" [paginator]="true"
        [globalFilterFields]="['nPrecio','dFecha']" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
        currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true"
        responsiveLayout="scroll" scrollHeight="200px" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0"></h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Buscar en la tabla" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th pSortableColumn="tcProducto.sNoParte">No Parte</th>

                <th pSortableColumn="price">Producto</th>
                <th pSortableColumn="category">Moneda</th>
                <th pSortableColumn="nPrecio">Precio <p-sortIcon field="nPrecio"></p-sortIcon> </th>
                <th pSortableColumn="dFecha">Fecha Registro
                    <p-sortIcon field="dFecha"></p-sortIcon>
                </th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-historia>

            <tr>
                <td>{{historia.tcProducto.sNoParte}}</td>
                <td>{{historia.tcProducto.sProducto}}</td>
                <td>{{historia.sMoneda}}</td>
                <td>{{historia.nPrecio | number}}</td>
                <td>{{historia.dFecha | date }}</td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{listaHistoriaPrecioProducto ? listaHistoriaPrecioProducto.length : 0 }} registros.
            </div>
        </ng-template>
    </p-table>
</div>