<div class="p-grid p-fluid">
    <!--Campos de filtro-->
    <div class="p-col-12 ">
        <div class="card">
                <div class="p-text-center">
                     <h2>Consulta de Cotizaciones</h2>
                </div>
            <br>
                <div class="p-field p-col-12 p-md-12">
                        <label for="dateformat" class="p-field p-col-12 p-md-12">Buscar cotización </label>
                        <input [(ngModel)]="buscar"  pInputText >
                </div>
                                
                <div _ngcontent-iho-c213="" class="p-col-12 p-mb-12 p-lg-12 p-mb-lg-0">
                    <button pButton pRipple type="button" label="Consultar" class="p-button-success" (click)="consultar()"></button>
                </div>             
        </div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            
            <p-table #dt [value]="listaCotizaciones" [rows]="10" [paginator]="true" [globalFilterFields]="[
          'nId',
          'tcCliente.sRfc',
          'tcCliente.sRazonSocial',
          'nTotalCotizacion',
          'dFecha'
        ]" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers" currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="
              p-d-flex p-flex-column p-flex-md-row p-jc-md-between
              table-header
            ">
                        <h5 class="p-m-0">Cotizaciones</h5>
                        <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar en toda la tabla"
              />
            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="sFolioCotizacion">
                            Folio Cotización
                            <p-sortIcon field="sFolioCotizacion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcCliente.sRfc">
                            RFC
                            <p-sortIcon field="tcCliente.sRfc"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcCliente.sRazonSocial">
                            Razón Social
                            <p-sortIcon field="tcCliente.sRazonSocial"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Teléfono</th>
                        <th pSortableColumn="dFecha">
                            Fecha
                            <p-sortIcon field="dFecha"></p-sortIcon>
                        </th>

                        <th pSortableColumn="nTotalCotizacion">
                            TotalCotización
                            <p-sortIcon field="nTotalCotizacion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Vigencia</th>
                        <th>Acción/Estatus</th>
                        <th>Cotización</th>
                        <th>Venta</th>



                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cotizacion>
                    <tr>
                        <td>
                            <span class="p-column-title">Name</span> {{ cotizacion.nId }}
                        </td>
                        <td>
                            <span class="p-column-title">Name</span> {{ cotizacion.tcCliente.sRfc }}
                        </td>
                        <td>
                            <span class="p-column-title">Name</span> {{ cotizacion.tcCliente.sRazonSocial }}
                        </td>

                        <td>
                            <span class="p-column-title">Name</span> {{ cotizacion.tcCliente.sTelefono }}
                        </td>
                        <td>
                            <span class="p-column-title">Name</span> {{ cotizacion.dFecha | date }}
                        </td>

                        <td>
                            <span class="p-column-title">Name</span> {{ cotizacion.nTotalCotizacion | number }}
                        </td>
                        <td class="p-text-center" *ngIf="cotizacion.nEstatus == 1">
                            <i *ngIf="cotizacion.nVigencia == 0" class="pi pi-check" style="color: green;"></i>
                            <i *ngIf="cotizacion.nVigencia == 1" class="pi pi-times" style="color: red;"></i>
                        </td>
                        <td class="p-text-center" *ngIf="cotizacion.nEstatus == 2">
                            <i class="pi pi-money-bill" style="color: blue;"></i>
                        </td>

                        <td *ngIf="cotizacion.nEstatus == 1">

                            <button *ngIf="cotizacion.nVigencia == 0" pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-2" (click)="detalleCotizacion(cotizacion)"></button>
                            <p *ngIf="cotizacion.nVigencia == 1">la cotización expiró</p>

                        </td>

                        <td *ngIf="cotizacion.nEstatus == 2"> vendidó </td>
                        <td> <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger"
                            (click)="generarCotizacionPdf(cotizacion)"></button></td>
                        <td >  <button *ngIf="cotizacion.nEstatus == 2" pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger"
                            (click)="obtenerVenta(cotizacion.nId)"></button> </td>




                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{ listaCotizaciones ? listaCotizaciones.length : 0 }} Registros.
                    </div>
                </ng-template>
            </p-table>

            <!--  <p-dialog [(visible)]="credito" [style]="{width: '600px'}" header="Línea de crédito " [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Monto del crédito</label>
                    <p-inputNumber type="number" pInputText id="name" name="n_limiteCredito"
                        [(ngModel)]="cliente.n_limiteCredito"></p-inputNumber>
                    <small class="p-invalid" *ngIf="submitted && !product.name">Monto requerido.</small>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="guardarLineaCredito()"></button>
            </ng-template>
        </p-dialog>-->

            <p-confirmDialog [style]="{ width: '600px' }"></p-confirmDialog>

        </div>
    </div>
    <p-dialog [(visible)]="mostrarOpcionesVenta" header="Generar venta" [style]="{width: '700px'}" [closable]="false" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <app-form-venta [listaProductos]="listaProductos" [saldoGeneralCliente]="saldoGeneralCliente" [total]="total" (emitirVenta)="generarVenta($event)" (soloCotizacion)="soloCotizacion()"></app-form-venta>
        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-dialog>
</div>