<form [formGroup]="formGrp" class="p-fluid p-pt-4">
    <div class="p-grid">
        <div class="p-col-12 p-text-center">
            <h3>Ubicación Actual</h3>
        </div>
        <div class="p-col-12 p-md-4 p-lg-4 p-text-center">Producto: {{productoBodega.tcProducto.sProducto}}</div>
        <div class="p-col-12 p-md-4 p-lg-4 p-text-center">
            Bodega: {{productoBodega.tcBodega.sBodega}} Anaquel: {{productoBodega.tcAnaquel.sAnaquel}} Nivel: {{productoBodega.tcNivel.sNivel}}

        </div>
        <div class="p-col-12 p-md-4 p-lg-4 p-text-center"><span style="background: purple; color: white;">Stock Actual: {{productoBodega.nCantidad}}</span></div>
        <p-divider></p-divider>
        <div class="p-col-12 p-text-center">
            <h3>Ubicación Destino</h3>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6 p-text-center">
            <label>Bodega<strong>*</strong></label>
            <p-dropdown [options]="listaAux" optionLabel="sBodega" optionValue="nId" formControlName="bodegaCtrl" placeholder="Selecciona una Bodega" [showClear]="true" optionDisabled="inactive">
            </p-dropdown>
            <div *ngIf="bodegaCtrl.invalid && (bodegaCtrl.dirty || bodegaCtrl.touched)">
                <small class="p-error" *ngIf="bodegaCtrl.errors?.required">Campo obligatorio</small>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-6 p-text-center">

            <label>Cantidad<strong>*</strong></label>
            <p-inputNumber formControlName="cantidadCtrl" min="1" [max]="productoBodega.nCantidad" required></p-inputNumber>
            <div *ngIf="cantidadCtrl.invalid || (cantidadCtrl.dirty || cantidadCtrl.touched)">
                <small class="p-error" *ngIf="cantidadCtrl.errors?.required">Campo obligatorio</small>
            </div>
        </div>

    </div>
    <div class="p-grid p-jc-end p-mt-2">
        <div class="p-col-3">
            <button pButton pRipple type="button" class="p-button-outlined p-button-danger p-button-sm" (click)="onCancelarClicked()" label="Cancelar" icon="pi pi-times" required></button>
        </div>
        <div class="p-col-3">
            <button pButton pRipple type="button" class="p-button-success p-button-sm p-button-raised" (click)="onGuardarClicked()" label="Mover Mercancía" icon="pi pi-check" [disabled]="formGrp.invalid"></button>
        </div>
    </div>
</form>