
<div class="card fondo">
    <div class="p-col-12 text-center fondo"><h3>Tipo de cambio</h3></div>
  </div>
<div class="p-grid p-fluid">  
    <div class="p-col-6 p-md-6">
        <div class="card">           
            <form [formGroup]="formulario">
                <input type="text" pInputText formControlName="nId" hidden />
                <input type="text" pInputText formControlName="sClave" hidden />
                <input type="text" pInputText formControlName="sDescripcion" hidden />
                <div class="p-col-6">
                    <p-inputNumber mode="decimal" name="nValor" formControlName="nValor" [showButtons]="true" [min]="0"
                        [max]="100" placeholder="Valor de cambio">
                    </p-inputNumber>
                    <small class="p-error" *ngIf="validaValor">*el tipo de cambio es requerido</small>
                </div>
                <p></p>
                <div class="p-button-label ng-star-inserted p-col-3">
                    <button pButton type="button" class="p-button-success" (click)="guardarTipoCambio()" label="Guardar"></button>
                </div>
            </form>
        </div>
    </div>
</div>