
<p-panel class="mt-2" header="Refacciones Fabela">
    <div class="p-grid">
        <div class="p-col-12">
           <p>Con más de 35 años de presencia en el mercado, somos una empresa mexicana enfocada en ofrecer la mejor experiencia en la comercialización y distribución de refacciones y suministros de maquinaria pesada.

            Ofreciendo piezas y partes de la más alta calidad y con una extensa línea de marcas que cumplen con estrictos estándares de calidad para la reparación y reposición de maquinaria Caterpillar®, Case®, Komatsu®, John Deere ®, Bobcat®, JCB®, Cummins® y Kubota®, entre otros; para lo cual disponemos de una amplia gama de proveedores que cuentan con todas las especificaciones de equipo original.</p>
        </div>
       
    </div>
</p-panel>

<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-4 p-md-6">
        <h5>Cargadores pequeños</h5>
        <img alt="logo" src="assets/layout/images/fondo.jpeg" class="centrarImagen"   />
    </div>
    <div class="p-col-12 p-xl-4 p-md-6">
        <h5>Minicargadores</h5>
        <img alt="logo" src="assets/layout/images/mini.jpeg" class="centrarImagen"   />
    </div>
    <div class="p-col-12 p-xl-4 p-md-6">
        <h5>Motoniveladoras</h5>
        <img alt="logo" src="assets/layout/images/niveladora.jpeg" class="centrarImagen"  />
    </div>
    <div class="p-col-12 p-xl-4 p-md-6">
        <h5>Miniescavadoras</h5>
        <img alt="logo" src="assets/layout/images/escavadora.jpeg" class="centrarImagen"  />
    </div>
    <div class="p-col-12 p-xl-4 p-md-6">
        <h5>Tractores Topadores</h5>
        <img alt="logo" src="assets/layout/images/tractor.jpeg" class="centrarImagen"  />
    </div>
    <div class="p-col-12 p-xl-4 p-md-6">
        <h5>Escavadoras</h5>
        <img alt="logo" src="assets/layout/images/escavadora_g.jpeg" class="centrarImagen"   />
    </div>
</div>   

