
    <div class="p-col-12">
        <div class="card">           
            <p-table #dt [value]="listaCotizaciones" [rows]="10" [paginator]="true"
                [globalFilterFields]="['sRfc','sRazonSocial','sTelefono']" [(selection)]="selectedProducts"
                [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Administración de clientes</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar Cliente" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                        </th>
                        <th pSortableColumn="name">Folio Cotización </th>                      
                        <th pSortableColumn="name">RFC </th>  
                        <th pSortableColumn="name">Razón Social </th> 
                        <th pSortableColumn="name">Correo </th> 
                        <th pSortableColumn="name">Teléfono </th> 
                        <th pSortableColumn="name">TotalCotización </th> 
                        <th pSortableColumn="name">Vigencia </th> 
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cotizacion>
                    <tr>
                        <td>
                        </td>
                        <td><span class="p-column-title">Name</span> {{cotizacion.sFolioCotizacion}}
                        </td>
                        <td><span class="p-column-title">Name</span> {{cotizacion.tcCliente.sRfc}}
                        </td>
                        <td><span class="p-column-title">Name</span> {{cotizacion.tcCliente.sRazonSocial}}
                        </td>
                        <td><span class="p-column-title">Name</span> {{cotizacion.tcCliente.sCorreo}}
                        </td>
                        <td><span class="p-column-title">Name</span> {{cotizacion.tcCliente.sRazonSocial}}
                        </td>
                        <td><span class="p-column-title">Name</span> {{cotizacion.nVigencia}}
                        </td>
                        <td><span class="p-column-title">Name</span> {{cotizacion.nTotalCotizacion}}
                        </td>
                       
                        <td>
                           <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editar(cliente)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="eliminar(cliente)"></button>
                            <button pButton pRipple icon="pi pi-credit-card" class="p-button-rounded p-button-help"
                                (click)="lineaCredito(cliente)"></button>-->
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{listaClientes ? listaClientes.length : 0 }} clientes.
                    </div>
                </ng-template>
            </p-table>
        </div>

      <!--  <p-dialog [(visible)]="credito" [style]="{width: '600px'}" header="Línea de crédito " [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Monto del crédito</label>
                    <p-inputNumber type="number" pInputText id="name" name="n_limiteCredito"
                        [(ngModel)]="cliente.n_limiteCredito"></p-inputNumber>
                    <small class="p-invalid" *ngIf="submitted && !product.name">Monto requerido.</small>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
                    (click)="guardarLineaCredito()"></button>
            </ng-template>
        </p-dialog>-->
      
        <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>
    </div>

