<form [formGroup]="formGrp">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-p-1">
            <span class="p-float-label">
                <input id="receptor" type="text" pInputText formControlName="sReceptorCtrl" oninput="this.value = this.value.toUpperCase()"  />
                <label for="receptor">Receptor *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sReceptorCtrl.invalid && (sReceptorCtrl.dirty || sReceptorCtrl.touched)"
                class="p-error">
                <small *ngIf="sReceptorCtrl.errors?.required">Campo obligatorio</small>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="receptor" type="tel" pInputText formControlName="sTelCtrl" />
                <label for="receptor">Teléfono *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sTelCtrl.invalid && (sTelCtrl.dirty || sTelCtrl.touched)"
                class="p-error">
                <small *ngIf="sTelCtrl.errors?.required">Teléfono inválido, favor de verificar.</small>
            </div>
        </div>

        <!-- Correo -->
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="correo" type="email" pInputText formControlName="sCorreoCtrl"  oninput="this.value = this.value.toLowerCase()"/>
                <label for="correo">Correo</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sCorreoCtrl.invalid && (sCorreoCtrl.dirty || sCorreoCtrl.touched)"
                class="p-error">
                <small *ngIf="sCorreoCtrl.errors?.required">Correo inválido, favor de verificar.</small>
            </div>
        </div>

        <!-- Calle -->
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="calle" type="text" pInputText formControlName="sCalleCtrl" oninput="this.value = this.value.toUpperCase()"/>
                <label for="calle">Calle *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sCalleCtrl.invalid && (sCalleCtrl.dirty || sCalleCtrl.touched)"
                class="p-error">
                <small *ngIf="sCalleCtrl.errors?.required">Calle requerida.</small>
            </div>
        </div>

        <!-- No. Ext -->
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="numext" type="text" pInputText formControlName="sNumExtCtrl" />
                <label for="numext">No. Ext *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sNumExtCtrl.invalid && (sNumExtCtrl.dirty || sNumExtCtrl.touched)"
                class="p-error">
                <small *ngIf="sNumExtCtrl.errors?.required">No. Ext requerido.</small>
            </div>
        </div>

        <!-- No. Int -->
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="numint" type="text" pInputText formControlName="sNumIntCtrl" />
                <label for="numint">No. Int</label>
            </span>
        </div>

        <!-- Colonia -->
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="colonia" type="text" pInputText formControlName="sColoniaCtrl" oninput="this.value = this.value.toUpperCase()" />
                <label for="colonia">Colonia</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sColoniaCtrl.invalid && (sColoniaCtrl.dirty || sColoniaCtrl.touched)"
                class="p-error">
                <small *ngIf="sColoniaCtrl.errors?.required">Colonia requerida.</small>
            </div>
        </div>
        <!-- Código Postal -->
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="cp" type="text" pInputText formControlName="nCpCtrl" maxlength="5"minlength="5" />
                <label for="cp">Código postal *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="nCpCtrl.invalid && (nCpCtrl.dirty || nCpCtrl.touched)"
                class="p-error">
                <small *ngIf="nCpCtrl.errors?.required">Código postal requerido.</small>
            </div>
        </div>

        <!-- Municipio -->
       <div class="p-field p-col-12 p-md-6 p-p-1  ">
            <span class="p-float-label">
                <input id="mun" type="text" pInputText formControlName="sMunicipioCtrl" oninput="this.value = this.value.toUpperCase()"/>
                <label for="mun">Municipio *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sMunicipioCtrl.invalid && (sMunicipioCtrl.dirty || sMunicipioCtrl.touched)"
                class="p-error">
                <small *ngIf="sMunicipioCtrl.errors?.required">Municipio requerido.</small>
            </div>
        </div>

        <!-- Estado -->
        <div class="p-field p-col-12 p-md-6 p-p-1 ">
            <span class="p-float-label">
                <input id="edo" type="text" pInputText formControlName="sEstadoCtrl" oninput="this.value = this.value.toUpperCase()" />
                <label for="edo">Estado *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sEstadoCtrl.invalid && (sEstadoCtrl.dirty || sEstadoCtrl.touched)"
                class="p-error">
                <small *ngIf="sEstadoCtrl.errors?.required">Estado requerido.</small>
            </div>
        </div>

        <!-- Referencias -->
        <div class="p-field p-col-12 p-md-6 p-p-1  ">
            <span class="p-float-label">
                <textarea id="ref" pInputTextarea rows="2" formControlName="sReferenciasCtrl" oninput="this.value = this.value.toUpperCase()"></textarea>
                <label for="ref">Referencias *</label>
            </span>
            <div id="idesc_invalidator" *ngIf="sReferenciasCtrl.invalid && (sReferenciasCtrl.dirty || sReferenciasCtrl.touched)"
                class="p-error">
                <small *ngIf="sReferenciasCtrl.errors?.required">Referencias requeridas.</small>
            </div>
        </div>

        <!-- Predeterminada -->
        <div class="p-field p-col-12 p-md-6 p-p-1  ">
            <span class="p-field">
                <p-checkbox formControlName="bPredeterminadaCtrl" label="Dirección predeterminada" [binary]="true" inputId="binary"></p-checkbox>
            </span>
        </div>

    </div>
</form>
<div class="p-d-flex p-jc-end">
    
        <div class="p-mr-2">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"
                (click)="hideDialog()"></button>
        </div>
        <div class="p-mr-2">
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-success"
                [disabled]="formGrp.invalid || saving" (click)="guardar()"></button>
        </div>
       
    
        
       
    
</div>