<div class="p-grid p-fluid">
    <!--Campos de filtro-->
    <div class="p-col-12 ">
        <div class="card">
            <h3 class="p-mb-3 p-text-center">Inventario de productos</h3>
            <br>
            <div _ngcontent-iho-c213="" class="p-grid p-formgrid">
                <div _ngcontent-iho-c213="" class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <p-dropdown [options]="listaBodegas" optionLabel="sBodega" optionValue="nId" [(ngModel)]="bodega"
                        (onChange)="consultaProducto()" placeholder="Selecciona una Bodega" [showClear]="true">
                    </p-dropdown>

                </div>
                <div _ngcontent-iho-c213="" class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <p-dropdown [options]="listaAnaquel" optionLabel="sAnaquel" optionValue="nId" [(ngModel)]="anaquel"
                        (onChange)="consultaProducto()" placeholder="Selecciona un Anaquel" [showClear]="true">
                    </p-dropdown>
                </div>
                <div _ngcontent-iho-c213="" class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <p-dropdown [options]="listaNivel" optionLabel="sNivel" optionValue="nId" [(ngModel)]="nivel"
                        (onChange)="consultaProducto()" placeholder="Selecciona una Nivel" [showClear]="true">
                    </p-dropdown>
                </div>
            </div>

        </div>



    </div>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="card">
                <!--tabla de productos-->
                <p-table #dt [value]="listaProductos" [columns]="cols" [rows]="10" [paginator]="true"
                    [globalFilterFields]="['tcProducto.sNoParte','producto.tcProducto.sProducto','tcProducto.sDescripcion','tcProducto.sMarca', 'nCantidad','tcBodega.sBodega','tcAnaquel.sAnaquel','tcNivel.sNivel']"
                   [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">

                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Buscar en tabla" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="tcProducto.sNoParte">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    No Parte
                                    <p-sortIcon field="tcProducto.sNoParte"></p-sortIcon>
                                    <p-columnFilter type="text" field="tcProducto.sNoParte" display="menu"
                                        class="p-ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="tcProducto.sProducto">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Producto
                                    <p-sortIcon field="tcProducto.sProducto"></p-sortIcon>
                                    <p-columnFilter type="text" field="tcProducto.sProducto" display="menu"
                                        class="p-ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="tcProducto.sDescripcion">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Descripcion
                                    <p-sortIcon field="tcProducto.sDescripcion"></p-sortIcon>
                                    <p-columnFilter type="text" field="tcProducto.sDescripcion" display="menu"
                                        class="p-ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="tcProducto.sMarca">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Marca
                                    <p-sortIcon field="tcProducto.sMarca"></p-sortIcon>
                                    <p-columnFilter type="text" field="tcProducto.sMarca" display="menu"
                                        class="p-ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="tcBodega.sBodega">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Bodega
                                    <p-sortIcon field="tcBodega.sBodega"></p-sortIcon>
                                    <p-columnFilter type="text" field="tcBodega.sBodega" display="menu"
                                        class="p-ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="tcAnaquel.sAnaquel">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Anaquel
                                    <p-sortIcon field="tcAnaquel.sAnaquel"></p-sortIcon>
                                    <p-columnFilter type="text" field="tcAnaquel.sAnaquel" display="menu"
                                        class="p-ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="tcNivel.sNivel">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Nivel
                                    <p-sortIcon field="tcNivel.sNivel"></p-sortIcon>
                                    <p-columnFilter type="text" field="tcNivel.sNivel}" display="menu"
                                        class="p-ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="nCantidad">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Cantidad
                                    <p-sortIcon field="nCantidad"></p-sortIcon>
                                    <p-columnFilter type="text" field="nCantidad" display="menu" class="p-ml-auto">
                                    </p-columnFilter>
                                </div>
                            </th>

                    </ng-template>
                    <ng-template pTemplate="body" let-producto>
                        <tr class="p-selectable-row">
                            <td><span class="p-column-title">No_parte</span> {{producto.tcProducto.sNoParte}}
                            </td>
                            <td><span class="p-column-title">Producto</span> {{producto.tcProducto.sProducto}}
                            </td>
                            <td><span class="p-column-title">Producto</span> {{producto.tcProducto.sDescripcion}}
                            </td>
                            <td><span class="p-column-title">Marca</span> {{producto.tcProducto.sMarca}}
                            </td>
                            <td><span class="p-column-title">Bodega</span> {{producto.tcBodega.sBodega}}
                            </td>
                            <td><span class="p-column-title">Anaquel</span>{{producto.tcAnaquel.sAnaquel}}
                            </td>
                            <td><span class="p-column-title">Nivel</span> {{producto.tcNivel.sNivel}}
                            </td>
                            <td><span class="p-column-title">Cantidad</span> {{producto.nCantidad}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8" style="text-align: center;">No hay registros para mostrar.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            En total hay {{listaProductos ? listaProductos.length : 0 }} productos.
                        </div>
                    </ng-template>

                </p-table>
                <!--Boton para exportar datos de la tabla-->
                <div *ngIf="listaProductos.length>0">
                    <p-toolbar styleClass="p-mb-4">
                        <ng-template pTemplate="right">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" label="Exportar consulta"
                                class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                                <button  *ngIf="banderaMostrarPdf"type="button" pButton pRipple icon="pi pi-file-pdf" label="Exportar consulta"
                                class="p-button-danger p-mb-2" (click)="generarListadoPdf()"></button>
                        </ng-template>
                    </p-toolbar>
                </div>

                
                <!-- ////////////////////////////////////////////-->
            </div>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
</div>