
<div  *ngIf="mostrarAjustes" class="p-grid p-fluid">
    <!--Campos de filtro-->
    <div class="p-col-12 ">
        <div class="card">
          
               
            <br>
                <div class="p-field p-col-12 p-md-12">
                        <label for="dateformat" class="p-field p-col-12 p-md-12">Consulta de ventas </label>
                        <input [(ngModel)]="buscar"  pInputText >
                </div>
                                
                <div _ngcontent-iho-c213="" class="p-col-12 p-mb-12 p-lg-12 p-mb-lg-0">
                    <button pButton pRipple type="button" label="Consultar" class="p-button-success" (click)="consultar()"></button>
                </div>             
        </div>
    </div>
</div>


<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <div class="p-text-center">
                <h3>Entrega de mercancia</h3>
            </div>     
            <p-table #dt [value]="listaVentasDetalleCliente" responsiveLayout="scroll" [columns]="cols" [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['nId','tcCliente.sRfc','tcCliente.sRazonSocial','nTotalVenta','dFechaVenta','sEstatus','nAvancePago','tcUsuario.sNombreusuario','tcEstatusVenta.sDescripcion']"
                [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} ventas"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar Venta" />
                        </span>

                        <span class="p-input-icon-right">
                            <div _ngcontent-iho-c213="" class="p-col-12 p-mb-12 p-lg-12 p-mb-lg-0">
                                <button pButton pRipple type="button" label="Ventas por entregar" class="p-button-success" (click)="consultaVentas()"></button>
                            </div> 
                        </span>


                       
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nId">No. Venta<p-sortIcon field="nId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcCliente.sRfc">Rfc<p-sortIcon field="tcCliente.sRfc"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcCliente.sRazonSocial">Razón Social<p-sortIcon
                                field="tcCliente.sRazonSocial"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nTotalVenta">Total Venta<p-sortIcon field="nTotalVenta"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nTotalAbono">Total Abonos<p-sortIcon field="nTotalAbono"></p-sortIcon>
                        </th>
                        <th pSortableColumn="descuento">Descuento<p-sortIcon field="descuento"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nSaldoTotal">Saldo Final<p-sortIcon field="nSaldoTotal"></p-sortIcon>
                        </th>

                        <th pSortableColumn="dFechaVenta">Fecha Venta<p-sortIcon field="dFechaVenta"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcEstatusVenta.sDescripcion">Estatus Venta<p-sortIcon
                                field="tcEstatusVenta.sDescripcion"></p-sortIcon>

                        <th pSortableColumn="tcTipoVenta.sDescripcion">Estatus Venta<p-sortIcon
                                    field="tcTipoVenta.sDescripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcUsuario.sNombreusuario">Vendedor<p-sortIcon
                                field="tcUsuario.sNombreusuario"></p-sortIcon>
                        </th>
                        <th pSortableColumn="tcUsuario.sNombreusuario">Acción</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venta let-expanded="expanded">
                    <tr>
                        <td><span class="p-column-title">No. Venta</span> {{venta.nId}}
                        </td>
                        <td><span class="p-column-title">Rfc</span> {{venta.tcCliente.sRfc}}
                        </td>
                        <td><span class="p-column-title">Razón Social</span> {{venta.tcCliente.sRazonSocial}}
                        </td>
                        <td><span class="p-column-title">Total Venta</span>{{venta.nTotalVenta | number}}
                        </td>
                        <td><span class="p-column-title">Total Abonos</span>{{venta.nTotalAbono | number}}
                        </td>
                        <td><span class="p-column-title">Descuento</span>{{venta.descuento | number}}
                        </td>
                        <td><span class="p-column-title">Saldo Final</span>
                            <p-tag styleClass="p-mr-2" severity="success">{{venta.nSaldoTotal | number}}</p-tag>
                        </td>

                        <td><span class="p-column-title">Fecha Venta</span> {{venta.dFechaVenta |  date  }}
                        </td>
                        <td class="p-text-center"><span class="p-column-title">Estatus Venta</span>

                            {{venta.tcEstatusVenta.sDescripcion}}</td>
                            <td class="p-text-center"><span class="p-column-title">Tipo Venta</span>

                                {{venta.tcTipoVenta.sDescripcion}}</td>

                        <td class="p-text-center"><span class="p-column-title">Vendedor</span>

                            {{venta.tcUsuario.sNombreUsuario}}
                        </td>

                        <td>
                            <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success p-mr-2 p-button-outlined"
                                (click)="detalleVentaProductos(venta)"></button>
                            <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger p-button-outlined"
                                (click)="generarVentaPdf(venta)"></button>
                            
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog [(visible)]="mostrarProductos" header="Productos de la Venta" [style]="{width: '900px'}"
                [closable]="false" styleClass="p-fluid">
                <ng-template pTemplate="content">
                  
                    <p-table #dt [value]="listaProductosVenta" responsiveLayout="scroll" [rows]="10"
                    [paginator]="true"
                    [globalFilterFields]="['nId','sNoParte','sProducto','sDescripcion','sMarca','nCantidad','nTotalUnitario','nTotalPartida', 'sAnaquel']"
                    [(selection)]="selectedProducts2" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} Registros"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Buscar producto vendido" />
                            </span>
                           
                           
                        </div>

                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    
                           
                            <button *ngIf="botonProductosTraer" pButton pRipple label="Mostrar traspasos" icon="pi pi-times" class="p-button-danger" 
                            (click)="mostrarProductosTraer()"></button>
                           
                        </div>
                    </ng-template>
                   <ng-template>
                    <button *ngIf="botonProductosTraer" pButton pRipple label="Mostrar traspasos" icon="pi pi-times" class="p-button-danger" 
                    (click)="hideDialogAlter()"></button>
                   </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="sNoParte">No. Parte<p-sortIcon field="sNoParte"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sProducto">Producto<p-sortIcon field="sProducto"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sDescripcion">Descripción<p-sortIcon field="sDescripcion"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sMarca">Marca<p-sortIcon field="sMarca"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nTotalUnitario">Precio Unitario<p-sortIcon field="nTotalUnitario"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nCantidad">Cantidad<p-sortIcon field="nCantidad"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nTotalPartida">Total Partida<p-sortIcon field="nTotalPartida"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sAnaquel">Ubicación<p-sortIcon field="sAnaquel"></p-sortIcon>
                            </th>
                            <th pSortableColumn="tcUsuario.sNombreusuario">Acción</th>
                            
                           
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-venta let-expanded="expanded">
                        <tr>
                    
                           
                            <td><span class="p-column-title">No. Parte</span> {{venta.sNoParte}}
                            </td>
                           <td><span class="p-column-title">Producto</span> {{venta.sProducto}}
                            </td>
                            <td><span class="p-column-title">Descripción</span> {{venta.sDescripcion}}
                            </td>
                            <td><span class="p-column-title">Marca</span>{{venta.sMarca}}
                            </td>
                             <td><span class="p-column-title">Precio Unitario</span> {{venta.nTotalUnitario | number}}
                            </td>
                           
                            <td><span class="p-column-title">Cantidad</span> {{venta.nCantidad | number}}
                            </td>
                             <td><span class="p-column-title">Total Partida</span> {{venta.nTotalPartida | number}}
                            </td>
                            <td><span class="p-column-title">Ubicación</span> {{venta.sBodega}}-{{venta.sAnaquel}}-{{venta.sNivel}}
                            </td>
                            <td> 
                                <div *ngIf="venta.nEstatusEntregaAlmacen==false"><p-checkbox [(ngModel)]="venta.nEstatusEntregaAlmacen" [binary]="true"
                            (onChange)=entregaProducto(venta)></p-checkbox>
                              </div>
                              <div *ngIf="venta.nEstatusEntregaAlmacen==true">Entregado</div>
                            </td>
                           
                           
                               
                          
                        </tr>
                    </ng-template>
                    </p-table>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-danger"
                        (click)="hideDialogAlter()"></button>
                </ng-template>

                     



            </p-dialog>

            <p-dialog [(visible)]="mostrarDialogTraer" header="Productos por traer" [style]="{width: '900px'}"
                [closable]="false" styleClass="p-fluid">
                <ng-template pTemplate="content">
                  
                    <p-table #dt [value]="listaVentasProductosTraer" responsiveLayout="scroll" [rows]="10"
                    [paginator]="true"
                    [globalFilterFields]="['nCantidad','tcProducto.sProducto','tcProducto.sDescripcion','sUbicacion']"
                    [(selection)]="selectedProducts2" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} Registros"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Buscar producto vendido" />
                            </span>
                           
                           
                        </div>

                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    
                           
                         
                           
                        </div>
                    </ng-template>
                 
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="nCantidad">No. Parte<p-sortIcon field="nCantidad"></p-sortIcon>
                            </th>
                            <th pSortableColumn="tcProducto.sProducto">Producto<p-sortIcon field="tcProducto.sProducto"></p-sortIcon>
                            </th>
                            <th pSortableColumn="tcProducto.sDescripcion">Descripción<p-sortIcon field="tcProducto.sDescripcion"></p-sortIcon>
                            </th>
                            <th pSortableColumn="sUbicacion">Marca<p-sortIcon field="sMarca"></p-sortIcon>
                            </th>
                           
                            
                           
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-venta let-expanded="expanded">
                        <tr>
                    
                           
                            <td><span class="p-column-title">No. Parte</span> {{venta.nCantidad}}
                            </td>
                           <td><span class="p-column-title">Producto</span> {{venta.tcProducto.sProducto}}
                            </td>
                            <td><span class="p-column-title">Descripción</span> {{venta.tcProducto.sDescripcion}}
                            </td>
                            <td><span class="p-column-title">Marca</span>{{venta.sUbicacion}}
                            </td>
                            
                            
                           
                        </tr>
                    </ng-template>
                    </p-table>
                </ng-template>
              
                     
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-danger"
                        (click)="cerrarTraer()"></button>
                </ng-template>


            </p-dialog>
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" label="Exportar consulta"
                        class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

        

        </div>


        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>