<div class="p-grid p-fluid">
    <!--Campos de filtro-->
    <div class="p-col-12 ">
        <div class="card">
            
               
            <br>
                <div class="p-field p-col-12 p-md-12">
                        <label for="dateformat" class="p-field p-col-12 p-md-12">Buscar venta </label>
                        <input [(ngModel)]="buscar"  pInputText >
                </div>
                                
                <div _ngcontent-iho-c213="" class="p-col-12 p-mb-12 p-lg-12 p-mb-lg-0">
                    <button pButton pRipple type="button" label="Consultar" class="p-button-success" (click)="consultar()"></button>
                </div>             
        </div>
    </div>
</div>

<div class="p-grid">
    
    <div class="p-col-12">
        <div class="card">	
    <div class="p-text-center"><h3>Cancela Ventas</h3></div>
        <p-toast></p-toast>   


        <p-table #dt [value]="listaVentasDetalleCliente" responsiveLayout="scroll" [columns]="cols" [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['nId','sFolioVenta','tcCliente.sRfc','nTipoPago','tcCliente.sRazonSocial','nTotalVenta','dFechaVenta','sEstatus','nAvancePago','tcUsuario.sNombreusuario','tcEstatusVenta.sDescripcion']"
            [(selection)]="selectedProducts" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} ventas"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">

                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar Venta" />
                    </span>
                    <span class="p-input-icon-right">
                        <div _ngcontent-iho-c213="" class="p-col-12 p-mb-12 p-lg-12 p-mb-lg-0">
                            <button pButton pRipple type="button" label="Ver todas" class="p-button-success" (click)="consultarTodas()"></button>
                        </div>  
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nId">No. Venta<p-sortIcon field="nId"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tcCliente.sRfc">Rfc<p-sortIcon field="tcCliente.sRfc"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tcCliente.sRazonSocial">Razón Social<p-sortIcon field="tcCliente.sRazonSocial"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nTotalVenta">Total Venta<p-sortIcon field="nTotalVenta"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nTotalAbono">Total Abonos<p-sortIcon field="nTotalAbono"></p-sortIcon>
                    </th>
                    <th pSortableColumn="descuento">Descuento<p-sortIcon field="descuento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nSaldoTotal">Saldo Final<p-sortIcon field="nSaldoTotal"></p-sortIcon>
                    </th>
                    
                    <th pSortableColumn="dFechaVenta">Fecha Venta<p-sortIcon
                            field="dFechaVenta"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tcEstatusVenta.sDescripcion">Estatus Venta<p-sortIcon
                        field="tcEstatusVenta.sDescripcion"></p-sortIcon>
                        <th pSortableColumn="nTipoPago">Tipo Pago<p-sortIcon
                            field="nTipoPago"></p-sortIcon>

                    <th pSortableColumn="tcEstatusVenta.sDescripcion">Tipo venta<p-sortIcon
                        field="tcEstatusVenta.sDescripcion"></p-sortIcon>
                    
                </th>
                    <th pSortableColumn="tcUsuario.sNombreusuario">Vendedor<p-sortIcon field="tcUsuario.sNombreusuario"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-venta let-expanded="expanded">
                <tr>
                    <td><span class="p-column-title"></span> {{venta.nId}}
                    </td>
                    <td><span class="p-column-title"></span> {{venta.tcCliente.sRfc}}
                    </td>
                    <td><span class="p-column-title"></span> {{venta.tcCliente.sRazonSocial}}
                    </td>
                    <td><span class="p-column-title"></span>{{venta.nTotalVenta | number}}
                    </td>
                    <td><span class="p-column-title"></span>{{venta.nTotalAbono | number}}
                    </td>
                    <td><span class="p-column-title"></span>{{venta.descuento | number}}
                    </td>
                    <td><span class="p-column-title"></span><p-tag styleClass="p-mr-2" severity="success">{{venta.nSaldoTotal | number}}</p-tag>
                    </td>
                   
                    <td><span class="p-column-title"></span> {{venta.dFechaVenta | date}}
                    </td>
                    <td class="p-text-center"><span class="p-column-title">Estatus Venta</span>
                       
                        <strong *ngIf="venta.tcEstatusVenta.sDescripcion=='VENTA CANCELADA' || venta.tcEstatusVenta.sDescripcion== 'VENTA CANCELADA PARCIALMENTE'" style="color:red"> {{venta.tcEstatusVenta.sDescripcion}}</strong>
                        <strong *ngIf="venta.tcEstatusVenta.sDescripcion!='VENTA CANCELADA' && venta.tcEstatusVenta.sDescripcion!= 'VENTA CANCELADA PARCIALMENTE'" > {{venta.tcEstatusVenta.sDescripcion}}</strong> </td>
                    
                        <td *ngIf="venta.nTipoPago==1"><span class="p-column-title"></span>CRÉDITO  </td>
                        
                        <td *ngIf="venta.nTipoPago==0"><span class="p-column-title"></span>CONTADO  </td>   
                    
                        <td><span class="p-column-title"></span> {{venta.tcTipoVenta.sDescripcion}}
                    </td>
                    
                       
                    <td class="p-text-center"><span class="p-column-title">Status</span>
                       
                            {{venta.tcUsuario.sNombreUsuario}}
                    </td>
                         
                      <td>
                        <button *ngIf="venta.tcEstatusVenta.sDescripcion!='VENTA CANCELADA'" pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success p-mr-2"
                            (click)="detalleVentaProductos(venta)"></button>
                        <button *ngIf="venta.tcEstatusVenta.sDescripcion!='VENTA CANCELADA' && venta.nIdTipoVenta!==3" pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger"
                            (click)="generarVentaPdf(venta)"></button>
                            <button *ngIf="venta.tcEstatusVenta.sDescripcion!='VENTA CANCELADA' && venta.nIdTipoVenta===3" pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger"
                            (click)="generarVentaPedidoPdf(venta)"></button>
                            <button *ngIf="venta.nSaldo==true" pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-green"
                            (click)="generarsSaldoFacorPdf(venta)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog [(visible)]="mostrarProductos" header="Productos de la Venta" [style]="{width: '900px'}" [closable]="false" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <p-table #dt [value]="listaProductosVenta" responsiveLayout="scroll" [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['sNoParte','sProducto','sDescripcion','sMarca','nCantidad','nTotalUnitario','nTotalPartida']"
                [(selection)]="selectedProducts2" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} Registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">                
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar producto vendido" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="sNoParte">No. Parte<p-sortIcon field="sNoParte"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sProducto">Producto<p-sortIcon field="sProducto"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sDescripcion">Descripción<p-sortIcon field="sDescripcion"></p-sortIcon>
                        </th>
                        <th pSortableColumn="sMarca">Marca<p-sortIcon field="sMarca"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nTotalUnitario">Precio Unitario<p-sortIcon field="nTotalUnitario"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nCantidad">Cantidad<p-sortIcon field="nCantidad"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nTotalPartida">Total Partida<p-sortIcon field="nTotalPartida"></p-sortIcon>
                        </th>                    
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venta let-expanded="expanded">
                    <tr>            
                        <td><span class="p-column-title">No. Parte</span> {{venta.sNoParte}}
                        </td>
                       <td><span class="p-column-title">Producto</span> {{venta.sProducto}}
                        </td>
                        <td><span class="p-column-title">Descripción</span> {{venta.sDescripcion}}
                        </td>
                        <td><span class="p-column-title">Marca</span>{{venta.sMarca}}
                        </td>
                         <td><span class="p-column-title">Precio Unitario</span> {{venta.nTotalUnitario | number}}
                        </td>                       
                        <td><span class="p-column-title">Cantidad</span> {{venta.nCantidad | number}}
                        </td>
                        <td><span class="p-column-title">Total Partida</span> {{venta.nCantidad | number}}
                        </td>
                       
                        <td *ngIf="venta.nEstatus==1">                            
                         <button *ngIf="borrar" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2" (click)="cancelaVenta(venta)"></button>                          
                        </td>    
                        <td *ngIf="venta.nEstatus==0">                            
                             Partida cancelada                   
                           </td>                                                         
                    </tr>
                </ng-template>
                </p-table>                
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cerrar" icon="pi pi-times"  class="p-button-danger" (click)="hideDialogAlter()"></button>
            </ng-template>
        </p-dialog>
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="right">
                <button type="button" pButton pRipple icon="pi pi-file-excel" label="Exportar consulta"
                    class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
            </ng-template>
        </p-toolbar>

        <p-dialog [(visible)]="mostrarCancela" header="Cancelación de productos" [style]="{width: '700px', height:'300px'}" [closable]="true" styleClass="p-fluid red "  >
                
            <div class="card" style="background-color:lightgrey">
                <div class="flex flex-column card-container green-container">
                    <div class="flex align-items-center justify-content-center h-4rem bg-green-500  text-black border-round m-2">{{producto}}</div>
                    <div class="flex align-items-center justify-content-center h-4rem bg-green-500  text-black border-round m-2">Total Vendidos:{{totalVendidos}}</div>
                    <div class="flex align-items-center justify-content-center h-4rem bg-green-500  text-black border-round m-2">Total Cancelar:<p-inputNumber [(ngModel)]="totalCancelar" inputId="minmax" mode="decimal" [min]="1" [max]='totalVendidos'> </p-inputNumber>
                    </div>
                </div>
            </div>

             <ng-template pTemplate="footer">
                <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-danger" (click)="cerrarDialogCancela()"></button>
                <button pButton pRipple label="Cancelar Producto" icon="pi pi-save" class=" p-button-success" (click)="concelarVentaProducto()"></button>
            </ng-template>

        </p-dialog>



    </div>
</div>
</div>
   
