<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-1">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-messages.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Clientes</h5>
                <span>{{toralesGeneralesTablero.nTotalClientes}} clientes registrados</span>
            </div>
            <div class="p-col-3 overview-box-status">
                {{toralesGeneralesTablero.nTotalClientes | number}}
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-2">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Provedores</h5>
                <span>   {{toralesGeneralesTablero.nTotalProveedores | number}} Provedores registrados</span>
            </div>
            <div class="p-col-3 overview-box-status">
                {{toralesGeneralesTablero.nTotalProveedores | number}}
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-3">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-filessynced.svg" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Usuarios</h5>
                <span> {{toralesGeneralesTablero.nTotalUsuarios | number}} usuarios registrados</span>
            </div>
            <div class="p-col-3 overview-box-status">
                {{toralesGeneralesTablero.nTotalUsuarios | number}}
            </div>
        </div>
    </div>
    <div class="p-col-12 p-xl-3 p-md-6">
        <div class="p-grid p-nogutter widget-overview-box overview-box-4">
            <div class="p-col-3 overview-box-icon">
                <img src="assets/layout/images/dashboard/icon-usersonline.png" alt="mirage-layout" />
            </div>
            <div class="p-col-6 overview-box-text">
                <h5>Productos</h5>
                <span> {{toralesGeneralesTablero.nTotalProductos | number}} productos registrados</span>
            </div>
            <div class="p-col-3 overview-box-status">
                {{toralesGeneralesTablero.nTotalProductos | number}}
            </div>
        </div>
    </div>

    <div class="p-col-12 p-lg-6 p-md-6 ">
        <div class="p-grid p-dir-col p-nogutter">
            <div class="p-col-12 ">
                <div class="card widget-statistics">
                    <div class="p-grid">
                        <div class="p-col-6 p-md-8">
                            <h5>Ventas vs Cotizaciones</h5>
                        </div>

                        
                       
                    </div>
                    <div class="p-col-12 p-md-12 dropdown">
                        <p-dropdown [options]="dropdownYears" optionLabel="label" optionValue="value" [(ngModel)]="selectedYear"
                        (onChange)="consultarAno()"  [showClear]="true">
                    </p-dropdown>                        </div>
                    <p-chart id="dashboard-chart" type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
                </div>
            </div>

        </div>
    </div>

    <div class="p-col-12 p-lg-6 p-md-6">
        <div class="card widget-tasks">
            <div class="card-header">
              

            </div>


            <p-table #dt [value]="ventaProductoAno" [rows]="7" [paginator]="true"
            [globalFilterFields]="['sNoParte', 'sProducto','sMarca', 'nTotalVenta']" 
            [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
            currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    <h5 class="p-m-0">Productos más vendidos</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar producto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>                   
                    <th pSortableColumn="sNoParte">No. Parte 
                          <p-sortIcon field="sNoParte"></p-sortIcon>    </th>
                                     
                    <th pSortableColumn="sProducto">Producto
                        <p-sortIcon field="sProducto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="sMarca">Marca
                        <p-sortIcon field="sMarca"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nTotalVenta">Total Venta
                        <p-sortIcon field="nTotalVenta"></p-sortIcon>
                    </th>
                   
                  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto>
                <tr>
                    
                    <td><span class="p-column-title">No. Parte</span> {{producto.sNoParte}}
                    </td>
                    <td><span class="p-column-title">Producto</span> {{producto.sProducto}}
                    </td>
                    <td><span class="p-column-title">Marca</span> {{producto.sMarca}}
                    </td>
                    <td><span class="p-column-title">Total Venta</span> {{producto.nTotalVenta}}
                    </td>
                   
                   
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    En total hay {{ventaProductoAno ? ventaProductoAno.length : 0 }} productos.
                </div>
            </ng-template>
        </p-table>
           
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-md-6 ">
        <div class="p-grid p-dir-col p-nogutter">
            <div class="p-col-12 ">
                <div class="card widget-statistics">
                    <div class="p-grid">
                        <div class="p-col-6 p-md-8">
                            <h5>Ventas Empleados</h5>
                        </div>
                        <div class="p-col-6 p-md-4 dropdown">
                            <p-dropdown [options]="dropdownYears" [(ngModel)]="selectedYear"></p-dropdown>
                        </div>
                    </div>
                    <p-chart id="dashboard-chart" type="line" [data]="lineChartData2" [options]="lineChartOptions"></p-chart>
                </div>
            </div>

        </div>
    </div>


    <div class="p-col-12 p-lg-6 p-md-6">
        <div class="card widget-team">
            <h5>Ventas por empleado</h5>
            <ul>
                <li>
                    <div class="p-grid member">
                        <div class="p-col-6 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-carmelita.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Mabiel Terron</h6>
                                <span class="team-member-role">Ventas</span>
                            </div>
                        </div>
                        <div class="p-col-6 icons">
                            <div class=" color-icono1">
                                50
                            </div>
                            <div class="color-icono2">
                                10
                            </div>
                            <div class=" color-icono3">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="p-grid member">
                        <div class="p-col-6 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-govzden.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Gvozden Boskovsky</h6>
                                <span class="team-member-role">Marketing</span>
                            </div>
                        </div>
                        <div class="p-col-6 icons">
                            <div class=" color-icono1">
                                50
                            </div>
                            <div class="color-icono2">
                                9
                            </div>
                            <div class=" color-icono3">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="p-grid member">
                        <div class="p-col-6 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-athar.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Athar Makakooti</h6>
                                <span class="team-member-role">Marketing</span>
                            </div>
                        </div>
                        <div class="p-col-6 icons">
                            <div class=" color-icono1">
                                50
                            </div>
                            <div class="color-icono2">
                                8
                            </div>
                            <div class=" color-icono3">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="p-grid member">
                        <div class="p-col-6 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-tokunaga.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Tokunaga Yae</h6>
                                <span class="team-member-role">Unknown</span>
                            </div>
                        </div>
                        <div class="p-col-6 icons">
                            <div class=" color-icono1">
                                50
                            </div>
                            <div class="color-icono2">
                                7
                            </div>
                            <div class=" color-icono3">
                                5
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="p-grid member">
                        <div class="p-col-6 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-olisha.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Olisha Farmer</h6>
                                <span class="team-member-role">Design</span>
                            </div>
                        </div>
                        <div class="p-col-6 icons">
                            <div class=" color-icono1">
                                50
                            </div>
                            <div class="color-icono2">
                                6
                            </div>
                            <div class=" color-icono3">
                                5
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="p-grid member">
                        <div class="p-col-6 team-box">
                            <div class="profile-image">
                                <img src="assets/layout/images/dashboard/avatar-athar.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">Athar Makakooti</h6>
                                <span class="team-member-role">Marketing</span>
                            </div>
                        </div>
                        <div class="p-col-6 icons">
                            <div class=" color-icono1">
                                50
                            </div>
                            <div class="color-icono2">
                                8
                            </div>
                            <div class=" color-icono3">
                                5
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-card-graph graph-1">
            <div class="graph-header">
                <h5>Por ordenar</h5>
                <div class="graph">
                    <div class="graph-border">
                        <div class="graph-block"></div>
                    </div>
                    <div class="graph-center"></div>
                </div>
            </div>
            <div class="graph-content">
                <div class="graph-icon">
                    <img src="assets/layout/images/dashboard/primeicons-apple.svg" alt="mirage-layout" />
                </div>
                <div class="graph-content-text">
                    <h5>49.2k</h5>
                    <hr />
                    <span><i class="pi pi-arrow-up"></i> 42% more than last month</span>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-card-graph graph-2">
            <div class="graph-header">
                <h5>Traspasos</h5>
                <div class="graph">
                    <div class="graph-border"></div>
                    <div class="graph-center"></div>
                </div>
            </div>
            <div class="graph-content">
                <div class="graph-icon">
                    <img src="assets/layout/images/dashboard/primeicons-camera.svg" alt="mirage-layout" />
                </div>
                <div class="graph-content-text">
                    <h5>62.291</h5>
                    <hr />
                    <span><i class="pi pi-arrow-up"></i> 33% more than last month</span>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-md-6">
        <div class="card widget-card-graph graph-3">
            <div class="graph-header">
                <h5>Canceladas</h5>
                <div class="graph">
                    <div class="graph-border"></div>
                    <div class="graph-center"></div>
                </div>
            </div>
            <div class="graph-content">
                <div class="graph-icon">
                    <img src="assets/layout/images/dashboard/primeicons-sitemap.svg" alt="mirage-layout" />
                </div>
                <div class="graph-content-text">
                    <h5>18.7k</h5>
                    <hr />
                    <span><i class="pi pi-arrow-up"></i> 7% more than last month</span>
                </div>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-lg-12">
        <div class="card orders-table">
            <h5>Ofertas del mes</h5>
            <p-table [value]="products" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No. parte</th>
                        <th pSortableColumn="name">Producto
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Categoria
                            <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Precio
                            <p-sortIcon field="price"></p-sortIcon>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            {{product.name}}
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price | currency:'USD'}}</td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


</div>