.color-icono1{
    color:white;
    background: orange;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    display: flex;  
    justify-content: center;
    
}
.color-icono2{
    color:white;
    background: green;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    display: flex;  
    justify-content: center;
}
.color-icono3{
    color:white;
    background: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    display: flex;  
    justify-content: center;
}