<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>	
		<div class="card">			
			<div class="p-text-center"><h2>Creditos y abonos</h2></div>
			<div class="p-grid p-fluid">
				<div class="p-col-12 p-lg-6">	
					<div class="card">
						<h3 class="centerText">Gráfico del Balance</h3>
						<div class="p-d-flex p-justify-center">
							<p-chart type="pie" [data]="pieData" [options]="pieOptions" [style]="{'width': '25%'}">
							</p-chart>
						</div>
					</div>
				</div>
				<div class="p-col-12 p-lg-6">	
					<div class="card">
						<div class="p-text-center"_><h3>Balance General</h3></div>
						<p-table [value]="car" >
							<ng-template pTemplate="header" >
								<tr>
									<th class="p-text-center" style="background:#ebd282 ;" >
										Total Inicial
									</th>
									<th class="p-text-center" style="background:#ebd282 ;" >
										Abonos
									</th>
									<th class="p-text-center" style="background:#ebd282 ;" >
										Saldo Total
									</th>
									<th class="p-text-center" style="background:#ebd282 ;" >
									    Total Vencidos
									</th>
									<th class="p-text-center" style="background:#ebd282 ;" >
										Total Regular
									</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-car >
								<tr>
									<td class="p-text-center" >
										{{totalesCreditos.nTotalVenta | number}}
									  </td>
									  <td class="p-text-center" >
										{{totalesCreditos.nAbonos | number}}
									  </td>
									<td class="p-text-center" >
										{{totalesCreditos.nSaldoTotalGeneral | number}}
									 
									</td>
									<td class="p-text-center">
										{{totalesCreditos.nTotalVencidos}}
								</td>
								<td class="p-text-center">
									{{totalesCreditos.nTotalRegular}}
							</td>
								</tr>
							</ng-template>
						</p-table>
						<div class="p-col-4 p-offset-4">
						<button pButton pRipple label="Exportar Balance" icon="pi pi-upload" class="p-button-help p-mb-2"
						(click)="dt.exportCSV()"></button></div>
					</div>
				</div>
			</div>
			<p-table #dt [value]="listaClientesCredito" [columns]="cols" [rows]="10" [paginator]="true"
				[globalFilterFields]="['tcCliente.sRfc','tcCliente.sRazonSocial','cliente.nLimiteCredito','cliente.nSaldoTotal', 'nCreditoDisponible']"
				[(selection)]="selectedProducts" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
				currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} registros"
				[showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0">Listado de créditos</h5>
						<span class="p-input-icon-left">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
								placeholder="Buscar cliente" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
						</th>
						<th pSortableColumn="name">RFC </th>
						<!--<th>Image</th>-->
						<th pSortableColumn="price">Razón social <p-sortIcon field="price"></p-sortIcon>
						</th>
					
						
						<th pSortableColumn="rating">Limite Crédito <p-sortIcon field="rating"></p-sortIcon>
						</th>
						<th pSortableColumn="rating">Disponible <p-sortIcon field="rating"></p-sortIcon>
						</th>
						<th pSortableColumn="inventoryStatus">Saldo<p-sortIcon field="inventoryStatus"></p-sortIcon>
						</th>
						<th pSortableColumn="inventoryStatus">Inicial <p-sortIcon field="inventoryStatus"></p-sortIcon>
						</th>
						<th pSortableColumn="inventoryStatus">Abonos <p-sortIcon field="inventoryStatus"></p-sortIcon>
						</th>
						<th pSortableColumn="category">Avance crédito <p-sortIcon field="category"></p-sortIcon>
						</th>						
						<th pSortableColumn="inventoryStatus">Estatus General <p-sortIcon field="inventoryStatus"></p-sortIcon>
						</th>						
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-cliente>
					<tr>
						<td>
						</td>
						<td><span class="p-column-title">Name</span>
							{{cliente.tcCliente.sRfc}}
						</td>
						<!--	<td><span class="p-column-title">Image</span>
							<img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" />
						</td>-->
						<td><span class="p-column-title">Price</span>
							{{cliente.tcCliente.sRazonSocial}}
						</td>
						<td class="p-test-center">
							{{cliente.nLimiteCredito | number}}
						</td>
						<td class="p-test-center">
							{{cliente.nCreditoDisponible | number}}
						</td>
						<td><span class="p-column-title">Reviews</span>
							{{cliente.nSaldoTotal | number}}
						</td>
						<td><span class="p-column-title">Status</span>
							{{cliente.nTotalVenta | number}}
						</td>
						<td><span class="p-column-title">Status</span>
							{{cliente.nAbonos | number}}
						</td>
						
						<td> <span class="p-colum-title"></span>
							<div class="p-col">
                                <p-progressBar [value]="cliente.nAvanceCredito" [showValue]="true" ></p-progressBar>
                            </div></td>
					
						<td class="p-text-center"><span class="p-column-title">Status</span>
							<div *ngIf="cliente.sEstatus==='VENCIDO'">
							<p-tag styleClass="p-mr-2" severity="danger">{{cliente.sEstatus}}</p-tag>
						  </div>
						  <div *ngIf="cliente.sEstatus==='REGULAR'">
							<p-tag styleClass="p-mr-2" severity="success">{{cliente.sEstatus}}</p-tag>
						  </div>
						</td>
						<td>
							<button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success p-mr-2"
								(click)="consultaVentaDetalle(cliente)"></button>
							<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
								(click)="deleteProduct(product)"></button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						En total hay {{listaClientesCredito ? listaClientesCredito.length : 0 }} clientes con crédito activo.
					</div>
				</ng-template>
			</p-table>
		</div>
		<p-dialog [(visible)]="productDialog" [style]="{width: '800px'}" header="Notas de crédito del cliente" [modal]="true"
			styleClass="p-fluid">
            <p-table #dt [value]="listaVentasDetalleCliente" responsiveLayout="scroll" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['sFolioVenta']" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} ventas" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                       
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar Venta de Crédicto..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                       
                        <th>No. Venta</th>
                        <th>Saldo Inicial</th>
                        <th>Abonos</th>
                        <th>Saldo Final</th>
                        <th>Avance</th>
                        <th>Fecha Vencimiento</th>
                        <th>Estatus</th>
                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-venta let-expanded="expanded">
                    <tr>
						<td><span class="p-column-title"></span> {{venta.sFolioVenta}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.nTotalVenta | number}}
                        </td>
                        <td><span class="p-column-title"></span> {{venta.nTotalAbono| number}}
                        </td>
                        <td><span class="p-column-title"></span>{{venta.nSaldoTotal | number}}
                        </td>
						<td> <span class="p-colum-title"></span>
							<div class="p-col">
                                <p-progressBar [value]="venta.nAvancePago" [showValue]="true" ></p-progressBar>
                            </div></td>
						
                        <td><span class="p-column-title"></span> {{venta.dFechaTerminoCredito | date}}
                        </td>
						
                    
                       
							<td class="p-text-center"><span class="p-column-title">Status</span>
								<div *ngIf="venta.sEstatus==='VENCIDO'">
								<p-tag styleClass="p-mr-2" severity="danger">{{venta.sEstatus}}</p-tag>
							  </div>
							  <div *ngIf="venta.sEstatus==='REGULAR'">
								<p-tag styleClass="p-mr-2" severity="success">{{venta.sEstatus}}</p-tag>
							  </div>

							  
                        <td>
							<button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-success p-mr-2"(click)="obtenerAbonosVentaId(venta)"></button>
                            <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger" (click)="deleteProduct(product)"></button>
                        </td>
                    </tr>
                </ng-template>
              
               
            </p-table>
		
			<ng-template pTemplate="footer">
				<button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
					(click)="hideDialog()"></button>
				
			</ng-template>
		</p-dialog>
		<p-dialog [(visible)]="productDialog2" [style]="{width: '800px'}" header="Abonos de la nota de crédito" [modal]="true"
			styleClass="p-fluid">
            <p-table #dt [value]="listaAbonosVenta" responsiveLayout="scroll" [columns]="cols" [rows]="10" [paginator]="true" [globalFilterFields]="['sFolioVenta']" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Mostrar {first} al {last} de {totalRecords} ventas" [showCurrentPageReport]="true">
              
                <ng-template pTemplate="header">
                    <tr>
                       
                        <th>Id Abono</th>
                        <th>Folio Venta</th>
                        <th>Abono</th>
                        <th>Fecha Abono</th>
						<th>Forma de pago</th>
						<th>Nombre Usuario</th>
                      
                       
                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-abono let-expanded="expanded">
                    <tr>
						<td><span class="p-column-title"></span> {{abono.nId}}
                        </td>
						<td><span class="p-column-title"></span> {{abono.twVenta.sFolioVenta}}
                        </td>
						<td><span class="p-column-title"></span> {{abono.nAbono | number}}
                        </td>
						<td><span class="p-column-title"></span> {{abono.dFecha | date }}
                        </td>
						<td><span class="p-column-title"></span> {{abono.tcFormapago.sDescripcion}}
                        </td>
						<td><span class="p-column-title"></span> {{abono.twVenta.twCaja.tcUsuario.sNombreusuario}}
                        </td>
                        
						<td>
                            <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger" (click)="deleteProduct(product)"></button>
                        </td>
                    </tr>
                </ng-template>
              
               
            </p-table>
		
			<ng-template pTemplate="footer">
				<button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
					(click)="hideDialog2()"></button>
				
			</ng-template>
		</p-dialog>
		<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
	</div>
</div>