<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">

            <p-table #dt [value]="listaProductos" responsiveLayout="scroll" [rows]="10" [paginator]="true" [globalFilterFields]="[]" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Administración de Productos Alternativos</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar producto..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Código Producto</th>
                        <th>No de parte</th>
                        <th>Nombre parte</th>
                        <th>Marca</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="product" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td><span class="p-column-title">No de parte</span> 1
                        </td>
                        <td><span class="p-column-title">No de parte</span> 1
                        </td>
                        <td><span class="p-column-title">producto</span> 1
                        </td>
                        <td><span class="p-column-title">Descipcion</span> 1
                        </td>
                        <td><span class="p-column-title">Reviews</span> 1
                        </td>
                        <td><span class="p-column-title">Status</span> 1
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success " (click)="openNew()"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                    <tr>
                        <td colspan="8">
                            <div class="p-p-3">
                                <p-table [value]="product.orders" dataKey="id">
                                    <ng-template pTemplate="caption">
                                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                            <h5 class="p-m-0">Productos Alternativos de {{product.name}}</h5>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>No Parte</th>
                                            <th>Nombre Parte</th>
                                            <th>Moneda</th>
                                            <th>Precio</th>
                                            <th>Stock</th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr>
                                            <td>{{order.id}}</td>
                                            <td>{{order.productCode}}</td>
                                            <td>PESO</td>
                                            <td>{{product.price}}</td>
                                            <td>26</td>
                                            <td>
                                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined" (click)="deleteProduct(product)"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">No hay productos alternativos registrados para el producto seleccionado </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <app-modal-producto #ejecuta [productDialog]="productDialog" [titulo]="titulo" (cerrar)="hideDialog($event)" (guardarProducto)="saveProduct($event)"></app-modal-producto>



        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>