<div class="p-grid p-fluid">
    <div class="p-col-12 p-text-center">
        <h2>Ventas y Cotizaciones</h2>
        <hr />
    </div>

    <div class="p-col-12 p-xl-12 p-md-12">
        <div class="card">
            <h5>Favor de Elegir un cliente</h5>
            <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true" placeholder="Razón social del cliente" [forceSelection]="true">
            </p-autoComplete>
            <br>
            <p-panel header="Datos del cliente">
                <div class="p-grid">
                    <div class="p-col-7">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-2">RFC: 12345678 </div>
                            <div class="p-col-12 p-md-6 p-lg-4">Razon social: Maquinaria Xddddd </div>
                            <div class="p-col-12 p-md-6 p-lg-5">Domicilio: Lago Peipus 1100 col. Seminario, Toluca EdoMex.</div>
                            <div class="p-col-12 p-md-6 p-lg-3">Teléfono: 123456789</div>
                            <div class="p-col-12 p-md-6 p-lg-3">Email: gmail@gmail.com</div>

                        </div>
                    </div>
                    <div class="p-col-5">
                        <div class="p-grid">
                            <div class="p-col-12">
                                <h5 class="p-text-center" style="background: #ebd282;">Linea de credito</h5>
                                <hr>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-4">Limite de credito: {{60000 | currency: '$'}}</div>
                            <div class="p-col-12 p-md-6 p-lg-4">Saldo total: {{20000 | currency: '$'}}</div>
                            <div class="p-col-12 p-md-6 p-lg-4">Credito Disponible: {{40000 | currency: '$'}}</div>

                        </div>

                    </div>
                </div>
            </p-panel>

            <div class="p-grid">
                <div class="p-col-12 p-lg-6 p-md-6 ">
                    <div class="p-grid p-dir-col p-nogutter">
                        <div class="p-col-12 ">
                            <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['id','name','inventoryStatus']" responsiveLayout="scroll" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                                <ng-template pTemplate="caption">
                                    <div class="p-d-flex p-ai-center p-jc-between">
                                        <span class="p-input-icon-left">
											<i class="pi pi-search"></i>
											<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Ingresa el No. de parte o nombre del producto" />
										</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>

                                        <th pSortableColumn="noParte">No.Parte
                                            <p-sortIcon field="noParte"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="descripcion">Descripcións
                                            <p-sortIcon field="descripcion"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="precio">Precio
                                            <p-sortIcon field="precio"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="categoria">Categoria
                                            <p-sortIcon field="categoria"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="stock">stock
                                            <p-sortIcon field="stock"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="cantidad">Cantidad
                                            <p-sortIcon field="cantidad"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr>

                                        <td>{{product.id}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.price | currency:'$'}}</td>
                                        <td>{{product.category}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>
                                            <p-inputNumber [(ngModel)]="product.cantidad" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
                                            </p-inputNumber>
                                        </td>
                                        <td>
                                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-mr-2" (click)="agregarProduct(product)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="p-d-flex p-ai-center p-jc-between">
                                        In total there are {{products ? products.length : 0 }} products.
                                    </div>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-lg-6 p-md-6 ">
                    <div class="p-grid p-dir-col p-nogutter">
                        <div class="p-col-12 ">
                            <p-table [value]="listaProductos" [rows]="10" [paginator]="true" responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                                <ng-template pTemplate="header">
                                    <tr>

                                        <th pSortableColumn="noParte">No.Parte
                                            <p-sortIcon field="noParte"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="descripcion">Descripcións
                                            <p-sortIcon field="descripcion"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="precio">Precio
                                            <p-sortIcon field="precio"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="categoria">Categoria
                                            <p-sortIcon field="categoria"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="cantidad">Cantidad
                                            <p-sortIcon field="cantidad"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-producto>
                                    <tr>

                                        <td>{{producto.id}}</td>
                                        <td>{{producto.name}}</td>
                                        <td>{{producto.price | currency:'$'}}</td>
                                        <td>{{producto.category}}</td>
                                        <td>
                                            {{producto.cantidad}}
                                        </td>
                                        <td>
                                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="p-d-flex p-ai-center p-jc-between">
                                        In total there are {{listaProductos ? listaProductos.length : 0 }} Productos.
                                    </div>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>