<div class="p-text-center">
    <h6>Producto Bodega</h6>
</div>

<p-table [value]="listaProductoBodega" responsiveLayout="scroll" scrollHeight="200px" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>           
            <th>Bodega</th>
            <th  class="p-text-center">Anaquel</th>
            <th  class="p-text-center">Nivel</th>
            <th  class="p-text-center">Stock</th>
            <th *ngIf="traspaso">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bodega>
        <tr>
            <td>{{bodega.tcBodega.sBodega}}</td>
            <td class="p-text-center">{{bodega.tcAnaquel.sAnaquel}}</td>
            <td  class="p-text-center">{{bodega.tcNivel.sNivel}}</td>
            <td  class="p-text-center"> <div *ngIf="bodega.nCantidad==0" style="background: red; border-radius: 30px; color:white;">{{bodega.nCantidad}}</div> <div *ngIf="bodega.nCantidad>0" style="background: green; border-radius: 30px; color:white;">{{bodega.nCantidad}}</div> </td>
            <td *ngIf="traspaso"><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarProducto(bodega)"></button></td>

        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="bodegasDialog" [style]="{width: '700px'}" [header]="titulo" [closable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-grid">

            <div class="p-col-12 p-md-6 p-lg-6 p-text-center">No parte: {{productoBodega.tcProducto.sNoParte}} </div>
            <div class="p-col-12 p-md-6 p-lg-6 p-text-center">Producto: {{productoBodega.tcProducto.sProducto}}</div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center">Bodega: {{productoBodega.tcBodega.sBodega}}</div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center">Anaquel: {{productoBodega.tcAnaquel.sAnaquel}}</div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center">Nivel: {{productoBodega.tcNivel.sNivel}}</div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center" style="background: purple; color: white;">Cantidad: {{productoBodega.nCantidad}} </div>

        </div>


    </ng-template>


</p-dialog>