<div class="p-text-center">
    <h6>Producto Bodega</h6>
</div>

<p-table [value]="listaProductoBodega" responsiveLayout="scroll" scrollHeight="200px" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>           
            <th><h6>Bodega</h6></th>
            <th class="p-text-center"><h6>Anaquel</h6></th>
            <th class="p-text-center"><h6>Nivel</h6></th>
            <th class="p-text-center"><h6>Stock</h6></th>
            <th *ngIf="traspaso"><h6>Acciones</h6></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bodega>
        <tr>
            <td><span class="p-column-title"><h6>Bodega</h6></span><h6>{{bodega.tcBodega.sBodega}}</h6></td>
            <td class="p-text-center"><span class="p-column-title"><h6>Anaquel</h6></span><h6>{{bodega.tcAnaquel.sAnaquel}}</h6></td>
            <td class="p-text-center"><span class="p-column-title"><h6>Nivel</h6></span><h6>{{bodega.tcNivel.sNivel}}</h6></td>
            <td class="p-text-center"><span class="p-column-title"><h6>Stock</h6></span>
                <div *ngIf="bodega.nCantidad<=0" style="background: red; border-radius: 30px; color:white;"><h6 style="color:white;">{{bodega.nCantidad}}</h6></div>
                <div *ngIf="bodega.nCantidad>0" style="background: green; border-radius: 30px; color:white;"><h6 style="color:white;">{{bodega.nCantidad}}</h6></div>
            </td>
            <td *ngIf="traspaso"><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarProducto(bodega)"></button></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="bodegasDialog" [style]="{width: '700px'}" [header]="titulo" [closable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-6 p-text-center"><h6>No parte: {{productoBodega.tcProducto.sNoParte}}</h6></div>
            <div class="p-col-12 p-md-6 p-lg-6 p-text-center"><h6>Producto: {{productoBodega.tcProducto.sProducto}}</h6></div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center"><h6>Bodega: {{productoBodega.tcBodega.sBodega}}</h6></div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center"><h6>Anaquel: {{productoBodega.tcAnaquel.sAnaquel}}</h6></div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center"><h6>Nivel: {{productoBodega.tcNivel.sNivel}}</h6></div>
            <div class="p-col-12 p-md-3 p-lg-3 p-text-center" style="background: purple; color: white;"><h6>Cantidad: {{productoBodega.nCantidad}}</h6></div>
        </div>
    </ng-template>
</p-dialog>